@model EntityLayer.Concrate.Firma

@{
    ViewData["Title"] = "Müşteri Düzenle";
}
<div class="col-lg-30 col-xxl-12">

    <h2 class="mb-3 lh-sm">Firma Düzenle</h2>
    @if (TempData["Msg"] != null)
    {
        <div class="d-flex">
            <div class="toast show align-items-center text-white dark__text-gray-1100 border-0 m-3" role="alert" data-bs-autohide="false" aria-live="assertive" aria-atomic="true" style="background:@TempData["Bgcolor"]">
                <div class="d-flex">
                    <div>
                        @TempData["Msg"]
                    </div>

                </div>
            </div>
        </div>

    }

    <div class="border table-responsive scrollbar p-2">
        <form method="post" onsubmit="return validateCheckboxes()">
            <table class="table table-borderless">
               
                <tr>
                    
                    <td>
                        <span style="color:red;">*</span>Müşteri Adı
                    </td>
                    <td><input type="hidden" class="form-control" asp-for="Firma_ID" />
                        <input type="text" class="form-control" asp-for="Firma_Unvan" required />
                    </td>
                    <td>
                        <span style="color:red;">*</span>Müşteri Tipi
                    </td>
                    <td>
                        <select class="form-control" asp-for="Firma_Tipi" id="Firmatipi">
                            <option value="">Seçiniz</option>
                            <option value="1">Bireysel</option>
                            <option value="2">Kurumsal</option>

                        </select>

                    </td>
                   
                </tr>
                <tr>
                    <td>TC Kimlik No / Vergi Kimlik No</td>
                    <td>
                        <input type="text" class="form-control" asp-for="Firma_TCNO_VKNO" />

                    </td>
                    <td>Vergi Dairesi</td>
                    <td>
                        <input type="text" class="form-control" asp-for="Firma_VergiDairesi" />
                    </td>
                </tr>
                <tr>
                   
                    <td>İl</td>
                    <td>
                        <select class="form-control" asp-for="Firma_AdresIL_ID" id="Firma_AdresIL_ID" onchange="IlDegistir(this.value)">
                            <option value="0">Seçiniz</option>
                            @foreach (var item in ViewBag.Iller)
                            {
                                if (item.IL_KODU == Model.Firma_AdresIL_ID.ToString())
                                {
                                    <option value="@item.IL_KODU" selected>@item.Il</option>
                                }
                                else
                                {
                                    
                                <option value="@item.IL_KODU">@item.Il</option>
                                }
                            }
                        </select>
                    </td>
                    <td>İlçe</td>
                    <td>
                        <select class="form-control" asp-for="Firma_AdresILCE_ID" id="Firma_AdresILCE_ID">
                            <option value="0">Seçiniz</option>

                        </select>
                    </td>
                </tr>
                <tr>

                    <td>Adres</td>
                    <td> <input type="text" class="form-control" asp-for="Firma_Adres" /></td>
                   
                </tr>
                <tr>
                    <td>Cep Telefon No</td>
                    <td> <input type="text" class="form-control" asp-for="Firma_CepTel" /></td>
                  
                    <td>
                        <span style="color:red;">*</span>Modul
                    </td>
                    <td>
                        @foreach(var item in ViewBag.Moduller){

                            if(Model.FirmaModul_ID.ToString().Contains(item.Modul_ID.ToString()))
                            {
                                <input type="checkbox" name="FirmaModul_ID[]" value="@item.Modul_ID" checked/>

                            }
                            else
                            {

                                <input type="checkbox" name="FirmaModul_ID[]" value="@item.Modul_ID"  />
                            }
                            <label>@item.Modul_Adi</label><br />
                        }

                    </td>
                    
                  
                   
                </tr>
                <tr>


                    <td>Web Sitesi</td>
                    <td> <input type="text" class="form-control" asp-for="Firma_WebSitesi" /></td>
                    
                </tr>

                <tr>

                    <td>E-Fatura Kullanıcı Adı</td>
                    <td> <input type="text" class="form-control" asp-for="Firma_EFatura_KullaniciAdi" /></td>

                    <td>E-Fatura Kullanıcı Şifresi</td>
                    <td><input type="text" class="form-control" asp-for="Firma_EFatura_Sifre" /></td>


                </tr>
                <tr>
                    <td colspan="4"><a asp-controller="Surucu" asp-action="Index">Firma Yetkilisini Düzenlemek İçin Tıklayınız</a></td>
                </tr>
            </table>
            <input type="submit" class="btn btn-success w-100" value="Müşteri Düzenle" />
        </form>


    </div>

</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>

        $(document).ready(function () {
            $('select').select2();
        });
    </script>
    <script>
      
        function IlDegistir(IlKodu) {

            $.ajax({
                url: '../Ajax/IlceListe', // Verileri sağlayan API'nin endpoint'i
                method: 'GET',
                data: { IlKodu: IlKodu },
                dataType: 'json',
                success: function (data) {
                    $('#Firma_AdresILCE_ID').empty();
                    $('#Firma_AdresILCE_ID').append($('<option>', {
                        value: 0, // Verinin değer özelliği
                        text: "Seçiniz" // Verinin görünen metni
                    }));
                    // Verileri selectbox'a ekle
                    $.each(data, function (index, item) {
                        console.log(item);
                        $('#Firma_AdresILCE_ID').append($('<option>', {
                            value: item.ilcE_KODU, // Verinin değer özelliği
                            text: item.ilce // Verinin görünen metni
                        }));
                    });
                },
                error: function (error) {
                    console.log('Hata oluştu:', error);
                }
            });
            var Firma_AdresILCE_ID = @Json.Serialize(Model.Firma_AdresILCE_ID);

            if (Firma_AdresILCE_ID !== null || Firma_AdresILCE_ID != "") {
                document.getElementById("Firma_AdresILCE_ID").value = @Model.Firma_AdresILCE_ID;
            }
        } 
        var Firma_AdresIL_ID = @Json.Serialize(Model.Firma_AdresIL_ID);

        if (Firma_AdresIL_ID !== null || Firma_AdresIL_ID != "") {
            IlDegistir(Firma_AdresIL_ID);
        }


        function validateCheckboxes() {
            var checkboxes = document.getElementsByName('FirmaModul_ID[]');
            var isChecked = false;
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    isChecked = true;
                    break;
                }
            }
            if (!isChecked) {
                alert("Lütfen en az bir modül seçiniz.");
                return false;
            }
            return true;
        }
    </script>
}