@using BusinessLayer.Concrate
@model List<logikeyv2.Models.MasrafCezaViewModel>

@{
    ViewData["Title"] = "Masraf Ceza Ekle";
}
<div class="col-lg-30 col-xxl-12">

    <h2 class="mb-3 lh-sm">Masraf / Ceza</h2>
    <a asp-controller="MasrafCeza" asp-action="Ekle">Masraf / Ceza Ekle</a>
    @if (TempData["Msg"] != null)
    {
        <div class="d-flex">
            <div class="toast show align-items-center text-white dark__text-gray-1100 border-0 m-3" role="alert" data-bs-autohide="false" aria-live="assertive" aria-atomic="true" style="background:@TempData["Bgcolor"]">
                <div class="d-flex">
                    <div>
                        @TempData["Msg"]
                    </div>

                </div>
            </div>
        </div>

    }


    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>

                <th>Tür</th>
                <th>Plaka</th>
                <th>Sürücü</th>
                <th>Fatura Tarihi</th>
                <th>Fatura No</th>
                <th>
                    İşlemler
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Helper.MasrafTuru(item.MasrafCeza.Tur)
                    </td>
                    <td>@item.Plaka</td>
                    <td>@item.Surucu</td>
                    <td>@item.MasrafCeza.FaturaTarihi</td>
                    <td>@item.MasrafCeza.FaturaNo</td>
                    <td>
                        @if (item.MasrafCeza.FirmaID != -2 || item.MasrafCeza.FirmaID == ViewBag.FirmaID)
                        {
                            <a asp-controller="MasrafCeza" asp-action="Duzenle" asp-route-MasrafCezaID="@item.MasrafCeza.ID">
                                <span class="text-body fs-5" data-feather="edit"></span>
                            </a>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#sil" onclick="document.getElementById('silID').value='@item.MasrafCeza.ID';"><span class="text-body fs-5" data-feather="trash-2"></span></a>
                        }
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>

                <th>Tür</th>
                <th>Plaka</th>
                <th>Sürücü</th>
                <th>Fatura Tarihi</th>
                <th>Fatura No</th>
                <th>
                    İşlemler
                </th>

            </tr>
        </tfoot>
    </table>


    <div class="modal fade" id="sil" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Emin Misiniz?</h5><button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close"><span class="fas fa-times fs-9"></span></button>
                </div>
                <form action="MasrafCeza/Sil" method="post">
                    <div class="modal-body">

                        <p class="text-body-tertiary lh-lg mb-0">
                            <input type="hidden" name="ID" id="silID" value="" />
                            Bu öğeyi silmek istediğinizden emin misiniz?
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" type="submit">Sil</button>
                        <button class="btn btn-outline-primary" type="button" data-bs-dismiss="modal">Vazgeç</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>

