@using EntityLayer.Concrate;
@model List<AracTipiViewModel>

@{
    ViewData["Title"] = "Araç Tipleri";
}
<div class="col-lg-30 col-xxl-12">
    <h2 class="mb-3 lh-sm">Araç Tipleri</h2>
    @if (TempData["Msg"] != null)
    {
        <div class="d-flex">
            <div class="toast show align-items-center text-white dark__text-gray-1100 border-0 m-3" role="alert" data-bs-autohide="false" aria-live="assertive" aria-atomic="true" style="background:@TempData["Bgcolor"]">
                <div class="d-flex">
                    <div>
                        @TempData["Msg"]
                    </div>

                </div>
            </div>
        </div>

    }
    <form id="form" action="AracTip/Ekle" method="post">
        <div class="card shadow-none border my-4" data-component-card="data-component-card">
            <div class="card-header p-4 border-bottom bg-body">
                <div class="row g-3 justify-content-between align-items-center">
                    <div class="col-md-4 d-flex align-items-center">
                        <input type="hidden" name="ID" id="ID" value="" />
                        <a asp-controller="AracTur" asp-action="Index" target="_blank" class="me-2">
                            <span class="text-body fs-5" data-feather="plus"></span>
                        </a>
                        <a onclick="AracTurListe()" class="me-2" style="cursor:pointer;">
                            <span class="text-body fs-5" data-feather="refresh-ccw"></span>
                        </a>
                        <span style="color:red;">*</span>
                        <select name="AracTurID" id="AracTurID" class="form-control" required>
                            <option value="" disabled selected>Araç Tür Seçiniz</option>
                        </select>
                    </div>

                    <div class="col-md-4 d-flex">
                        <span style="color:red;">*</span>
                        <input class="form-control" id="Adi" type="text" name="Adi" placeholder="Ad Giriniz" required />
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary">Kaydet</button>  <button type="button" onclick="Temizle()" class="btn btn-subtle-warning me-1 mb-1">Temizle</button>
                    </div>

                </div>
            </div>

        </div>
    </form>

    <table id="example" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Tür Adı</th>
                            <th>Tip Adı</th>
                            <th>
                                İşlemler
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.TurAdi</td>
                                <td>@item.TipAdi</td>
                                <td>
                                    @if (item.FirmaID != -2 || item.FirmaID == ViewBag.FirmaID)
                                    {

                                        <a href="#" onclick="Duzenle(@item.TipID, '@item.TipAdi',@item.TurID)">
                                            <span class="text-body fs-5" data-feather="edit"></span>
                                        </a>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#sil" onclick="document.getElementById('silID').value='@item.TipID';"><span class="text-body fs-5" data-feather="trash-2"></span></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
        <tfoot>
            <tr>
                <th>Tür Adı</th>
                <th>Tip Adı</th>
                <th>
                    İşlemler
                </th>

            </tr>
        </tfoot>
                </table>


                <div class="modal fade" id="sil" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Emin Misiniz?</h5><button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close"><span class="fas fa-times fs-9"></span></button>
                            </div>
                            <form action="AracTip/Sil" method="post">
                                <div class="modal-body">

                                    <p class="text-body-tertiary lh-lg mb-0">
                                        <input type="hidden" name="ID" id="silID" value="" />
                                        Bu öğeyi silmek istediğinizden emin misiniz?
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-danger" type="submit">Sil</button>
                                    <button class="btn btn-outline-primary" type="button" data-bs-dismiss="modal">Vazgeç</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
     

@section Scripts {


    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>

        $(document).ready(function () {
            $('select').select2();
        });

        function AracTurListe() {
            //araç tür listele
            $.ajax({
                url: '../Ajax/AracTurListe', // Verileri sağlayan API'nin endpoint'i
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    $('#AracTurID').empty();
                    $('#AracTurID').append($('<option>', {
                        value: "", // Verinin değer özelliği
                        text: "Araç Tür Seçiniz", // Verinin görünen metni
                        disabled: true, // Option elementini devre dışı bırak
                        selected: true  // Option elementini seçili yap
                    }));
                    // Verileri selectbox'a ekle
                    $.each(data, function (index, item) {
                        console.log(item);
                        $('#AracTurID').append($('<option>', {
                            value: item.id, // Verinin değer özelliği
                            text: item.adi // Verinin görünen metni
                        }));
                    });
                },
                error: function (error) {
                    console.log('Hata oluştu:', error);
                }
            });
        }
        AracTurListe();
    </script>
    <script>
        function Duzenle(ID, Ad,TurID) {
            document.getElementById("Adi").value = Ad;
            document.getElementById("ID").value = ID;
            document.getElementById("AracTurID").value = TurID;
            document.getElementById("form").setAttribute("action", "AracTip/Duzenle");
        }
        function Temizle() {
            document.getElementById("Adi").value = "";
            document.getElementById("ID").value = "";
            document.getElementById("TurID").value = 0;
            document.getElementById("form").setAttribute("action", "AracTip/Ekle");
        }
    </script>
}