@model logikeyv2.Models.OkulOgrenciModel

@{
    ViewData["Title"] = "Ogrenci Ekle";
}
<div class="col-lg-10 col-xxl-11">

    <h2 class="mb-3 lh-sm">Öğrenci Ekle</h2>
    @if (TempData["Msg"] != null)
    {
        <div class="d-flex">
            <div class="toast show align-items-center text-white dark__text-gray-1100 border-0 m-3" role="alert" data-bs-autohide="false" aria-live="assertive" aria-atomic="true" style="background:@TempData["Bgcolor"]">
                <div class="d-flex">
                    <div>
                        @TempData["Msg"]
                    </div>

                </div>
            </div>
        </div>

    }

    <div class="border table-responsive scrollbar p-2">
        <form method="post">
            <table class="table table-borderless">

                <tr>

                    <td>Öğrenci Adı</td>
                    <td><input type="text" class="form-control" asp-for="Ogrenci.Cari_YetkiliAdi" required/></td>
                    <td>Öğrenci Soyadı</td>
                    <td><input type="text" class="form-control" asp-for="Ogrenci.Cari_YetkiliSoyadi" required /></td>


                </tr>

                <tr>
                    <td>Öğrenci Telefon No</td>
                    <td> <input type="text" class="form-control" asp-for="Ogrenci.Cari_FirmaTelefon" required /></td>
                    <td>Öğrenci TC Kimlik No</td>
                    <td> <input type="text" class="form-control" asp-for="Ogrenci.Cari_TCNO_VergiNo" required /></td>



                </tr>
                <tr>
                    <td>Kayıt Başlangıç Tarihi</td>
                    <td> <input type="date" class="form-control" asp-for="OgrenciModulu.KayitBaslangicTarihi" required /></td>
                    <td>Kayıt Bitiş Tarihi</td>
                    <td> <input type="date" class="form-control" asp-for="OgrenciModulu.KayitBitisTarihi" required /></td>



                </tr>
                <tr>
                    <td>Servis Kullanım Durumu</td>
                    <td>
                        <select class="form-control" asp-for="OgrenciModulu.Servis_Kullanim_Durumu" id="Servis_Kullanim_Durumu" required>
                            <option value="">Seçiniz</option>
                            <option value="1">Evet</option>
                            <option value="2">Hayır</option>

                        </select>
                    </td>
                    <td>Öğrenci Eposta</td>
                    <td><input type="text" class="form-control" asp-for="Ogrenci.Cari_FirmaEposta" required /></td>



                </tr>
                <tr>

                    <td>Okulu</td>
                    <td>
                        <select class="form-control" asp-for="OgrenciModulu.CariOkul_ID" id="CariOkul_ID" required>
                            <option value="">Seçiniz</option>

                            @foreach (var item in ViewBag.Okullar)
                            {
                                <option value="@item.Cari_ID">@item.Cari_Unvan</option>

                            }
                        </select>
                    </td>

                </tr>
                <tr>

                    <td>İl</td>
                    <td>
                        <select class="form-control" asp-for="Ogrenci.Cari_IL_ID" id="Cari_IL_ID" onchange="IlDegistir(this.value)" required>
                            <option value="">Seçiniz</option>
                            @foreach (var item in ViewBag.Iller)
                            {

                                <option value="@item.IL_KODU">@item.Il</option>
                            }

                        </select>
                    </td>
                    <td>İlçe</td>
                    <td>
                        <select class="form-control" asp-for="Ogrenci.Cari_ILCE_ID" id="Cari_ILCE_ID" required>
                            <option value="">Seçiniz</option>


                        </select>
                    </td>
                </tr>
                <tr>

                    <td>Adres</td>
                    <td colspan="5"> <input type="text" class="form-control" asp-for="Ogrenci.Cari_Adres" required /></td>

                </tr>


                <tr>
                    <td>1. Veli Adı</td>
                    <td> <input type="text" class="form-control" asp-for="OgrenciModulu.Veli1Adi" required /></td>
                    <td>1.Veli Soyadı</td>
                    <td> <input type="text" class="form-control" asp-for="OgrenciModulu.Veli1Soyadi" required /></td>
                    <td>1.Veli Telefon No</td>
                    <td> <input type="number" class="form-control" asp-for="OgrenciModulu.Veli1TelefonNo" required /></td>
                </tr>
                <tr>
                    <td>2. Veli Adı</td>
                    <td> <input type="text" class="form-control" asp-for="OgrenciModulu.Veli2Adi" required /></td>
                    <td>2.Veli Soyadı</td>
                    <td> <input type="text" class="form-control" asp-for="OgrenciModulu.Veli2Soyadi" required /></td>
                    <td>2.Veli Telefon No</td>
                    <td> <input type="number" class="form-control" asp-for="OgrenciModulu.Veli2TelefonNo" required /></td>

                </tr>
                <tr>
                    <td>3. Veli Adı</td>
                    <td> <input type="text" class="form-control" asp-for="OgrenciModulu.Veli3Adi" required /></td>
                    <td>3.Veli Soyadı</td>
                    <td> <input type="text" class="form-control" asp-for="OgrenciModulu.Veli3Soyadi" required /></td>
                    <td>3.Veli Telefon No</td>
                    <td> <input type="number" class="form-control" asp-for="OgrenciModulu.Veli3TelefonNo" required /></td>
                </tr>


                <tr>
                    <td>Banka Adı 1</td>
                    <td> <input type="text" class="form-control" asp-for="Ogrenci.Cari_BankaAdi1" required /></td>
                    <td>Banka IBAN No 1</td>
                    <td> <input type="text" class="form-control" asp-for="Ogrenci.Cari_BankaIBAN1" required /></td>

                </tr>
                <tr>
                    <td>Bu bilgileri fatura için kullanma</td>
                    <td> <input type="checkbox" asp-for="Ogrenci.FaturaDurum" /></td>

                </tr>
                <tr id="hiddenFields">

                    <td>Adı</td>
                    <td><input type="text" class="form-control" name="Fatura_Adi" /></td>
                    <td>Soyadı</td>
                    <td><input type="text" class="form-control" name="Fatura_Soyadi" /></td>


                </tr>

                <tr id="hiddenFields">
                    <td>Telefon No</td>
                    <td> <input type="text" class="form-control" name="Fatura_Telefon" /></td>
                    <td>TC Kimlik No</td>
                    <td> <input type="text" class="form-control" name="Fatura_TC" /></td>



                </tr>

                <tr id="hiddenFields">

                    <td>İl</td>
                    <td>
                        <select class="form-control" name="Fatura_il" id="Cari_IL_ID2" onchange="IlDegistir2(this.value)">
                            <option value="0">Seçiniz</option>
                            @foreach (var item in ViewBag.Iller)
                            {

                                <option value="@item.IL_KODU">@item.Il</option>
                            }

                        </select>
                    </td>
                    <td>İlçe</td>
                    <td>
                        <select class="form-control" name="Fatura_ilce" id="Cari_ILCE_ID2">
                            <option value="0">Seçiniz</option>


                        </select>
                    </td>
                </tr>
                <tr id="hiddenFields">

                    <td>Adres</td>
                    <td colspan="5"> <input type="text" class="form-control" name="Fatura_Adres" /></td>

                </tr>
                <tr id="hiddenFields">


                    <td>Eposta</td>
                    <td><input type="text" class="form-control" name="Fatura_Eposta" /></td>


                </tr>
                <tr id="hiddenFields">
                    <td>Banka Adı </td>
                    <td> <input type="text" class="form-control" name="Fatura_BankaAdi" /></td>
                    <td>Banka IBAN No </td>
                    <td> <input type="text" class="form-control" name="Fatura_BankaIBAN" /></td>

                </tr>
            </table>
            <input type="submit" class="btn btn-success w-100" value="Öğrenciyi Kaydet" />
        </form>
    </div>

</div>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        function IlDegistir(IlKodu) {

            $.ajax({
                url: '../Ajax/IlceListe', // Verileri sağlayan API'nin endpoint'i
                method: 'GET',
                data: { IlKodu: IlKodu },
                dataType: 'json',
                success: function (data) {
                    $('#Cari_ILCE_ID').empty();
                    $('#Cari_ILCE_ID').append($('<option>', {
                        value: 0, // Verinin değer özelliği
                        text: "Seçiniz" // Verinin görünen metni
                    }));
                    // Verileri selectbox'a ekle
                    $.each(data, function (index, item) {
                        console.log(item);
                        $('#Cari_ILCE_ID').append($('<option>', {
                            value: item.ilcE_KODU, // Verinin değer özelliği
                            text: item.ilce // Verinin görünen metni
                        }));
                    });
                },
                error: function (error) {
                    console.log('Hata oluştu:', error);
                }
            });
        }
        function IlDegistir2(IlKodu) {

            $.ajax({
                url: '../Ajax/IlceListe', // Verileri sağlayan API'nin endpoint'i
                method: 'GET',
                data: { IlKodu: IlKodu },
                dataType: 'json',
                success: function (data) {
                    $('#Cari_ILCE_ID2').empty();
                    $('#Cari_ILCE_ID2').append($('<option>', {
                        value: 0, // Verinin değer özelliği
                        text: "Seçiniz" // Verinin görünen metni
                    }));
                    // Verileri selectbox'a ekle
                    $.each(data, function (index, item) {
                        console.log(item);
                        $('#Cari_ILCE_ID2').append($('<option>', {
                            value: item.ilcE_KODU, // Verinin değer özelliği
                            text: item.ilce // Verinin görünen metni
                        }));
                    });
                },
                error: function (error) {
                    console.log('Hata oluştu:', error);
                }
            });
        }
    </script>
}
<style>
    #hiddenFields {
        display: none;
    }
</style>
<script>
    // Checkbox durumunu dinleyen fonksiyon
    function toggleHiddenFields() {
        var checkbox = document.querySelector('input[name="Ogrenci.FaturaDurum"]');
        var hiddenFields = document.querySelectorAll('#hiddenFields');

        // Checkbox durumuna göre hiddenFields'ı görünür veya görünmez yap
        if (checkbox.checked) {
            hiddenFields.forEach(function (field) {
                field.style.display = 'table-row'; // veya 'block' olarak değiştirebilirsiniz
            });
        } else {
            hiddenFields.forEach(function (field) {
                field.style.display = 'none';
            });
        }
    }

    // Sayfa yüklendiğinde durumu kontrol et
    toggleHiddenFields();

    // Checkbox durumu değiştiğinde toggleHiddenFields fonksiyonunu çağır
    document.querySelector('input[name="Ogrenci.FaturaDurum"]').addEventListener('change', toggleHiddenFields);
</script>
