@model logikeyv2.Models.OkulOgrenciModel

@{
    ViewData["Title"] = "Ogrenci Düzenle";
}
<div class="col-lg-30 col-xxl-12">

    <h2 class="mb-3 lh-sm">Öğrenci Düzenle</h2>
    @if (TempData["Msg"] != null)
    {
        <div class="d-flex">
            <div class="toast show align-items-center text-white dark__text-gray-1100 border-0 m-3" role="alert" data-bs-autohide="false" aria-live="assertive" aria-atomic="true" style="background:@TempData["Bgcolor"]">
                <div class="d-flex">
                    <div>
                        @TempData["Msg"]
                    </div>

                </div>
            </div>
        </div>

    }

    <div class="border table-responsive scrollbar p-2">
        <form method="post">
            <input type="hidden" class="form-control" asp-for="OgrenciModulu.ID" />
            <table class="table table-borderless">

                <tr>

                    <td>Öğrenci Adı</td>
                    <td><input type="text" class="form-control" asp-for="Ogrenci.Cari_YetkiliAdi" /></td>
                    <td>Öğrenci Soyadı</td>
                    <td><input type="text" class="form-control" asp-for="Ogrenci.Cari_YetkiliSoyadi" /></td>


                </tr>

                <tr>
                    <td>Öğrenci Telefon No</td>
                    <td> <input type="text" class="form-control" asp-for="Ogrenci.Cari_FirmaTelefon" /></td>
                    <td>Öğrenci TC Kimlik No</td>
                    <td> <input type="text" class="form-control" asp-for="Ogrenci.Cari_TCNO_VergiNo" /></td>



                </tr>
              <!--  <tr>
                    <td>Kayıt Başlangıç Tarihi</td>
                    <td> <input type="date" class="form-control" asp-for="OgrenciModulu.KayitBaslangicTarihi" /></td>
                    <td>Kayıt Bitiş Tarihi</td>
                    <td> <input type="date" class="form-control" asp-for="OgrenciModulu.KayitBitisTarihi" /></td>



                </tr>-->
                <tr>
                    <td>Servis Kullanım Durumu</td>
                    <td>
                        <select class="form-control" asp-for="OgrenciModulu.Servis_Kullanim_Durumu" id="Servis_Kullanim_Durumu">
                            <option value="0">Seçiniz</option>
                            <option value="1">Evet</option>
                            <option value="2">Hayır</option>

                        </select>
                    </td>



                </tr>
                <tr>

                    <td>Okulu</td>
                    <td>
                        <select class="form-control" asp-for="OgrenciModulu.CariOkul_ID" id="CariOkul_ID">
                            <option value="0">Seçiniz</option>

                            @foreach (var item in ViewBag.Okullar)
                            {
                                <option value="@item.Cari_ID">@item.Cari_Unvan</option>

                            }
                        </select>
                    </td>
                  <!--  <td>Şöfor</td>
                    <td>
                        <select class="form-control" asp-for="OgrenciModulu.Sofer_ID" id="Sofer_ID">
                            <option value="0">Seçiniz</option>
                            @foreach (var item in ViewBag.Sofor)
                            {
                                <option value="@item.Kullanici_ID">@item.Kullanici_Isim @item.Kullanici_Soyisim</option>
                            }
                        </select>
                    </td>-->
                </tr>
                <tr>

                    <td>İl</td>
                    <td>
                        <select class="form-control" asp-for="Ogrenci.Cari_IL_ID" id="Cari_IL_ID" onchange="IlDegistir(this.value)">
                            <option value="0">Seçiniz</option>
                            @foreach (var item in ViewBag.Iller)
                            {

                                <option value="@item.IL_KODU">@item.Il</option>
                            }

                        </select>
                    </td>
                    <td>İlçe</td>
                    <td>
                        <select class="form-control" asp-for="Ogrenci.Cari_ILCE_ID" id="Cari_ILCE_ID">
                            <option value="0">Seçiniz</option>


                        </select>
                    </td>
                </tr>
                <tr>

                    <td>Adres</td>
                    <td colspan="5"> <input type="text" class="form-control" asp-for="Ogrenci.Cari_Adres" /></td>

                </tr>
                <tr>


                    <td>Öğrenci Eposta</td>
                    <td><input type="text" class="form-control" asp-for="Ogrenci.Cari_FirmaEposta" /></td>


                </tr>

                <tr>
                    <td>1. Veli Adı</td>
                    <td> <input type="text" class="form-control" asp-for="OgrenciModulu.Veli1Adi" /></td>
                    <td>1.Veli Soyadı</td>
                    <td> <input type="text" class="form-control" asp-for="OgrenciModulu.Veli1Soyadi" /></td>
                    <td>1.Veli Telefon No</td>
                    <td> <input type="number" class="form-control" asp-for="OgrenciModulu.Veli1TelefonNo" /></td>
                </tr>
                <tr>
                    <td>2. Veli Adı</td>
                    <td> <input type="text" class="form-control" asp-for="OgrenciModulu.Veli2Adi" /></td>
                    <td>2.Veli Soyadı</td>
                    <td> <input type="text" class="form-control" asp-for="OgrenciModulu.Veli2Soyadi" /></td>
                    <td>2.Veli Telefon No</td>
                    <td> <input type="number" class="form-control" asp-for="OgrenciModulu.Veli2TelefonNo" /></td>

                </tr>
                <tr>
                    <td>3. Veli Adı</td>
                    <td> <input type="text" class="form-control" asp-for="OgrenciModulu.Veli3Adi" /></td>
                    <td>3.Veli Soyadı</td>
                    <td> <input type="text" class="form-control" asp-for="OgrenciModulu.Veli3Soyadi" /></td>
                    <td>3.Veli Telefon No</td>
                    <td> <input type="number" class="form-control" asp-for="OgrenciModulu.Veli3TelefonNo" /></td>
                </tr>


                <tr>
                    <td>Banka Adı 1</td>
                    <td> <input type="text" class="form-control" asp-for="Ogrenci.Cari_BankaAdi1" /></td>
                    <td>Banka IBAN No 1</td>
                    <td> <input type="text" class="form-control" asp-for="Ogrenci.Cari_BankaIBAN1" /></td>

                </tr>
                <tr>
                    <td>Bu bilgileri fatura için kullan</td>
                    <td> <input type="checkbox" asp-for="Ogrenci.FaturaDurum" /></td>

                </tr>


            </table>
            <input type="submit" class="btn btn-success w-100" value="Öğrenciyi Düzenle" />
        </form>
    </div>

</div>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        function IlDegistir(IlKodu) {

            $.ajax({
                url: '../Ajax/IlceListe', // Verileri sağlayan API'nin endpoint'i
                method: 'GET',
                data: { IlKodu: IlKodu },
                dataType: 'json',
                success: function (data) {
                    $('#Cari_ILCE_ID').empty();
                    $('#Cari_ILCE_ID').append($('<option>', {
                        value: 0, // Verinin değer özelliği
                        text: "Seçiniz" // Verinin görünen metni
                    }));
                    // Verileri selectbox'a ekle
                    $.each(data, function (index, item) {
                        console.log(item);
                        $('#Cari_ILCE_ID').append($('<option>', {
                            value: item.ilcE_KODU, // Verinin değer özelliği
                            text: item.ilce // Verinin görünen metni
                        }));
                    });
                },
                error: function (error) {
                    console.log('Hata oluştu:', error);
                }
            });
        }
    </script>
    }
