@using EntityLayer.Concrate;
@model List<UnListesi>

@{
    ViewData["Title"] = "UnListesi";
}
<div class="col-lg-30 col-xxl-12">
    <h2 class="mb-3 lh-sm">Un Listesi</h2>
    @if (TempData["Msg"] != null)
    {
        <div class="d-flex">
            <div class="toast show align-items-center text-white dark__text-gray-1100 border-0 m-3" role="alert" data-bs-autohide="false" aria-live="assertive" aria-atomic="true" style="background:@TempData["Bgcolor"]">
                <div class="d-flex">
                    <div>
                        @TempData["Msg"]
                    </div>

                </div>
            </div>
        </div>

    }
    <form id="form" action="UnListesi/Ekle" method="post">
        <div class="card shadow-none border my-4" data-component-card="data-component-card">
            <div class="card-header p-4 border-bottom bg-body">
                <div class="row g-3 justify-content-between align-items-center">
                    <div class="col-md-8">


                        <input type="hidden" name="Un_ID" id="Un_ID" value="" />
                        <label>Un Adı</label>
                        <input class="form-control" id="Un_Isim" type="text" name="Un_Isim" placeholder="Un Adını Giriniz" />
                        <label>Un No</label>
                        <input class="form-control" id="Un_No" type="text" name="Un_No" placeholder="Un Numarasını Giriniz" />
                        <label>Un Bakanlık Kodu</label>
                        <input class="form-control" id="Un_BakanlikKodu" type="text" name="Un_BakanlikKodu" placeholder="Un Bakanlık Kodunu Giriniz" />
                        <label>Un Sınıflandırma Kodu</label>
                        <input class="form-control" id="Un_SiniflandirmaKodu" type="text" name="Un_SiniflandirmaKodu" placeholder="Un Sınıflandırma Numarasını Giriniz" />
                        <label>Un Sınıfı</label>
                        <input class="form-control" id="Un_Sinif" type="text" name="Un_Sinif" placeholder="Un Sınıfını Giriniz" />
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary">Kaydet</button>  <button type="button" onclick="Temizle()" class="btn btn-subtle-warning me-1 mb-1">Temizle</button>
                    </div>

                </div>
            </div>

        </div>
    </form>
    <div class="p-4 code-to-copy">
        <div id="tableExample3" data-list='{"valueNames":["kod","ad","no","sinifkod","sinif"],"page":20,"pagination":true}'>
            <div class="search-box mb-3 mx-auto">
                <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                    <input class="form-control search-input search form-control-sm" type="search" placeholder="Ara" aria-label="Ara" />
                    <span class="fas fa-search search-box-icon"></span>
                </form>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-sm fs-9 mb-0">
                    <thead>
                        <tr>
                            <th class="sort border-top border-translucent ps-3" data-sort="kod">Un Bakanlık Kodu</th>

                            <th class="sort border-top border-translucent ps-3" data-sort="ad">Un Adı</th>
                            <th class="sort border-top border-translucent ps-3" data-sort="no">Un No</th>
                            <th class="sort border-top border-translucent ps-3" data-sort="sinifkod">Un Sınıflandıırma Kodu</th>
                            <th class="sort border-top border-translucent ps-3" data-sort="sinif">Un Sınıfı</th>

                            <th class="sort border-top">
                                İşlemler
                            </th>

                        </tr>
                    </thead>
                    <tbody class="list">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Un_BakanlikKodu</td>
                                <td>@item.Un_Isim</td>
                                <td>@item.Un_No</td>
                                <td>@item.Un_SiniflandirmaKodu</td>
                                <td>@item.Un_Sinif</td>

                                <td>
                                    <a href="#" onclick="Duzenle(@item.Un_ID, '@item.Un_Isim')">
                                        <span class="text-body fs-5" data-feather="edit"></span>
                                    </a>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#sil" onclick="document.getElementById('silID').value='@item.Un_ID';"><span class="text-body fs-5" data-feather="trash-2"></span></a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


                <div class="modal fade" id="sil" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Emin Misiniz?</h5><button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close"><span class="fas fa-times fs-9"></span></button>
                            </div>
                            <form action="UnListesi/Sil" method="post">
                                <div class="modal-body">

                                    <p class="text-body-tertiary lh-lg mb-0">
                                        <input type="hidden" name="ID" id="silID" value="" />
                                        Bu öğeyi silmek istediğinizden emin misiniz?
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-danger" type="submit">Sil</button>
                                    <button class="btn btn-outline-primary" type="button" data-bs-dismiss="modal">Vazgeç</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
            <div class="d-flex justify-content-between mt-3">
                <span class="d-none d-sm-inline-block" data-list-info="data-list-info"></span>
                <div class="d-flex">
                    <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                    <ul class="mb-0 pagination"></ul><button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts {
    <script>
        function Duzenle(ID, Ad) {
            document.getElementById("Adi").value = Ad;
            document.getElementById("ID").value = ID;
            document.getElementById("form").setAttribute("action", "UnListesi/Duzenle");

        }
        function Temizle() {
            document.getElementById("Adi").value = "";
            document.getElementById("ID").value = "";
            document.getElementById("form").setAttribute("action", "UnListesi/Ekle");
        }
    </script>
}