@model EntityLayer.Concrate.Tasima

@{
    ViewData["Title"] = "Taşıma Ekle";
}
<script>
    var items = 1;
</script>

<div class="col-lg-10 col-xxl-11">
    @if (TempData["Msg"] != null)
    {
        <div class="d-flex">
            <div class="toast show align-items-center text-white dark__text-gray-1100 border-0 m-3" role="alert" data-bs-autohide="false" aria-live="assertive" aria-atomic="true" style="background:@TempData["Bgcolor"]">
                <div class="d-flex">
                    <div>
                        @TempData["Msg"]
                    </div>

                </div>
            </div>
        </div>

    }

    <div class="border table-responsive scrollbar p-2">
        <form method="post" action="TasimaEkle">
            <table class="table table-borderless">
                <tr>
                    <td rowspan="6" colspan="1" style="width:50px; margin-right:10px;background:#02224b" class="vertical-text text-center" style="background:#a9a4a4;">
                        <h5 style="color:#fff !important;">Araç</h5>
                    </td>
                    <td>Araç</td>
                    <td>
                        <select class="form-control" asp-for="Arac_ID" id="Arac_ID">
                            <option value="0">Seçiniz</option>
                            @foreach (var arac in ViewBag.Araclar)
                            {
                                <option value="@arac.ID">@arac.Plaka</option>

                            }
                        </select>
                    </td>

                    <td>Taşıma Tipi</td>
                    <td>
                        <select class="form-control" asp-for="TasimaTipi_ID" id="TasimaTipi_ID">
                            <option value="0">Seçiniz</option>
                            @foreach (var tasimatip in ViewBag.tasimaTipi)
                            {
                                <option value="@tasimatip.ID">@tasimatip.Adi</option>

                            }
                        </select>
                    </td>
                    <td>Araç Türü</td>
                    <td>
                        <select class="form-control" asp-for="AracTuru_ID" id="AracTuru_ID">
                            <option value="0">Seçiniz</option>
                            @foreach (var aracTur in ViewBag.aracTur)
                            {
                                <option value="@aracTur.ID">@aracTur.Adi</option>


                            }
                        </select>

                    </td>
                </tr>
                <tr>
                    <td>Sürücü 1 Ekle</td>
                    <td>
                        <select class="form-control" asp-for="Surucu1_ID" id="Surucu1_ID">
                            <option value="0">Seçiniz</option>
                            @foreach (var surucu in ViewBag.Suruculer)
                            {
                                <option value="@surucu.ID">@surucu.Isim-@surucu.Soyisim</option>

                            }
                        </select>
                    </td>
                    <td>Sürücü 2 Ekle</td>
                    <td>
                        <select class="form-control" asp-for="Surucu2_ID" id="Surucu2_ID">
                            <option value="0">Seçiniz</option>
                            @foreach (var surucu in ViewBag.Suruculer)
                            {
                                <option value="@surucu.ID">@surucu.Isim-@surucu.Soyisim</option>

                            }
                        </select>
                    </td>
                    <td>Sürücü 3 Ekle</td>
                    <td>
                        <select class="form-control" asp-for="Surucu3_ID" id="Surucu3_ID">
                            <option value="0">Seçiniz</option>
                            @foreach (var surucu in ViewBag.Suruculer)
                            {
                                <option value="@surucu.ID">@surucu.Isim-@surucu.Soyisim</option>

                            }
                        </select>
                    </td>

                </tr>
                <tr>
                    <td>Çekici Plakası</td>
                    <td>

                        <select class="form-control" asp-for="CekiciPlaka_ID" id="CekiciPlaka_ID">
                            <option value="0">Seçiniz</option>
                            @foreach (var arac in ViewBag.CekiciPlaka)
                            {
                                <option value="@arac.ID">@arac.Plaka</option>

                            }
                        </select>
                    </td>
                    <td>Dorse Ekle</td>
                    <td>
                        <select asp-for="DorseTipi_ID" class=" form-control" id="DorseTipi_ID">
                            <option value="0">Seçiniz</option>
                            @foreach (var arac in ViewBag.DorseListe)
                            {
                                <option value="@arac.ID">@arac.Adi</option>

                            }

                        </select>
                    </td>
                    <td>Dorse Plakası</td>
                    <td>
                        <select asp-for="DorsePlaka_ID" class=" form-control" id="Arac_ID">
                            <option value="0">Seçiniz</option>
                            @foreach (var arac in ViewBag.DorsePlaka)
                            {
                                <option value="@arac.ID">@arac.Plaka</option>

                            }
                        </select>
                    </td>

                </tr>
                <tr>
                    <td>Göz 1</td>
                    <td>
                        <input type="number" class="form-control bg-light" asp-for="AracGoz1" value="0" readonly />
                        <input type="text" class="form-control bg-light" name="AracGoz1UrunID" id="AracGoz1UrunID" readonly />
                    </td>

                    <td>Göz 2</td>
                    <td><input type="number" class="form-control bg-light" asp-for="AracGoz2" value="0" readonly /><input type="text" class="form-control bg-light" name="AracGoz2UrunID" id="AracGoz2UrunID" readonly /></td>
                    <td>Göz 3</td>
                    <td><input type="number" class="form-control bg-light" asp-for="AracGoz3" value="0" readonly /><input type="text" class="form-control bg-light" name="AracGoz3UrunID" id="AracGoz3UrunID" readonly /></td>
                </tr>
                <tr>
                    <td>Göz 4</td>
                    <td><input type="number" class="form-control bg-light" asp-for="AracGoz4" value="0" readonly /><input type="text" class="form-control bg-light" name="AracGoz4UrunID" id="AracGoz4UrunID" readonly /></td>
                    <td>Göz 5</td>
                    <td><input type="number" class="form-control bg-light" asp-for="AracGoz5" value="0" readonly /><input type="text" class="form-control bg-light" name="AracGoz5UrunID" id="AracGoz5UrunID" readonly /></td>
                    <td>Göz 6</td>
                    <td><input type="number" class="form-control bg-light" asp-for="AracGoz6" value="0" readonly /><input type="text" class="form-control bg-light" name="AracGoz6UrunID" id="AracGoz6UrunID" readonly /></td>
                </tr>
                <tr>

                    <td>Toplam Yüklenen Miktar</td>
                    <td colspan="3"><input type="text" class="form-control bg-light w-100" asp-for="ToplamYuklenenMiktar" id="ToplamYuklenenMiktar" readonly /></td>
                    <td>Ücretlendirme</td>
                    <td>
                        <select name="Ucretlendirme_ID[]" class=" form-control" id="Ucretlendirme_ID">
                            <option value="0">Seçiniz</option>
                            <option value="1">Birim Fiyat</option>
                            <option value="2">Sefer</option>

                        </select>
                    </td>

                </tr>
            </table>



            <div class="accordion" id="accordionExample">
                <div class="accordion-item border-top">
                    <h2 class="accordion-header" id="heading1">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                            1.KAYIT
                        </button>
                    </h2>
                    <div class="accordion-collapse collapse" id="collapse1" aria-labelledby="heading1" data-bs-parent="#accordionExample" style="">
                        <div class="accordion-body pt-0">
                            <table class="table table-borderless">
                                <!-- teknik bilgi -->

                                <tr>

                                    <td rowspan="2" colspan="1" style="width:50px; margin-right:10px;background:#06326b" class="vertical-text text-center">
                                        <h5 style="color:#fff !important;"> Ürün</h5>
                                    </td>
                                    <td style="width: 17%;">
                                        Un Kodu Seç
                                    </td>
                                    <td style="width: 17%;">
                                        <select name="Un_ID[]" class=" form-control" id="Un_ID1">
                                            <option value="0">Seçiniz</option>

                                            @foreach (var Un in ViewBag.UnListesi)
                                            {
                                                <option value="@Un.Un_ID">@Un.Un_No - @Un.Un_Isim</option>
                                            }
                                        </select>
                                    </td>
                                    <td>Ürün Seç</td>
                                    <td>
                                        <select name="TasinacakUrun_ID[]" class=" form-control" id="TasinacakUrun_ID1" onchange="GozlereDagit(1)">
                                            <option value="0">Seçiniz</option>

                                            @foreach (var item in ViewBag.TasinacakUrun)
                                            {
                                                <option value="@item.ID">@item.Adi</option>
                                            }

                                        </select>
                                    </td>

                                    <td>Yükleme Miktarı</td>
                                    <td><input type="number" class="form-control" name="YuklemeMiktari[]" onchange="GozlereDagit(1)" id="YuklemeMiktari1" /></td>
                                </tr>
                                <tr style="border-bottom: 1px solid #ddd; margin-bottom:2%;">
                                    <td>Birim veya Sefer Fiyatı</td>
                                    <td colspan="5"><input type="number" class="form-control" name="Birim_SeferFiyat[]" id="Birim_SeferFiyat1" /></td>

                                </tr>


                                <!-- Garanti -->
                                <tr>
                                    <td rowspan="2" colspan="1" style="width:50px; margin-right:10px;background:#0a4ea5" class="vertical-text text-center">
                                        <h5 style="color:#fff !important;"> Gönderici Firma</h5>
                                    </td>
                                    <td>Mal Sahibi</td>
                                    <td>
                                        <select name="GondericiCari_ID[]" class=" form-control" id="GondericiCari_ID1">
                                            <option value="0">Seçiniz</option>
                                            @foreach (var item in ViewBag.GondericiListesi)
                                            {

                                                <option value="@item.Cari_ID">@item.Cari_Unvan</option>
                                            }

                                        </select>
                                    </td>
                                    <td>Mal Yükleme İl</td>
                                    <td>
                                        <select class="form-control" name="MalYuklemeAdres_IL_ID[]" id="MalYuklemeAdres_IL_ID1" onchange="IlDegistir(this.value)">
                                            <option value="0">Seçiniz</option>

                                            @foreach (var item in ViewBag.Iller)
                                            {

                                                <option value="@item.IL_KODU">@item.Il</option>
                                            }

                                        </select>
                                    </td>
                                    <td>Mal Yükleme İlçe</td>
                                    <td>
                                        <select class="form-control" name="MalYuklemeAdres_ILCE_ID[]" id="MalYuklemeAdres_ILCE_ID1">
                                            <option value="0">Seçiniz</option>



                                        </select>
                                    </td>
                                </tr>
                                <tr style="border-bottom: 1px solid #ddd; margin-bottom:2%;">

                                    <td>Mal Yükleme Tarih Saat</td>
                                    <td colspan="5"><input type="date" class="form-control" name="GondericiFirmaTarihSaat[]" id="GondericiFirmaTarihSaat1" /></td>

                                </tr>
                                <!-- Araç Belgeleri -->
                                <tr>
                                    <td rowspan="2" colspan="1" style="width:50px; margin-right:10px;background:#0e65d5" class="vertical-text text-center">
                                        <h5 style="color:#fff !important;"> Alıcı Firma</h5>
                                    </td>
                                    <td>Alıcı Firma</td>
                                    <td>
                                        <select name="AliciCari_ID[]" class=" form-control" id="AliciCari_ID1">
                                            <option value="0">Seçiniz</option>


                                            @foreach (var item in ViewBag.AliciListesi)
                                            {

                                                <option value="@item.Cari_ID">@item.Cari_Unvan</option>
                                            }

                                        </select>
                                    </td>
                                    <td>İndirilen İl</td>
                                    <td>
                                        <select class="form-control" name="IndirilenAdres_IL_ID[]" id="IndirilenAdres_IL_ID1" onchange="IndirilenIlDegistir(this.value)">
                                            <option value="0">Seçiniz</option>

                                            @foreach (var item in ViewBag.Iller)
                                            {

                                                <option value="@item.IL_KODU">@item.Il</option>
                                            }
                                        </select>
                                    </td>
                                    <td>İndirilen İlçe</td>
                                    <td>
                                        <select class="form-control" name="IndirilenAdres_ILCE_ID[]" id="IndirilenAdres_ILCE_ID1">
                                            <option value="0">Seçiniz</option>


                                        </select>
                                    </td>

                                </tr>
                                <tr style="border-bottom: 1px solid #ddd; margin-bottom:2%;">

                                    <td>Alıcı Tarih Saat</td>
                                    <td colspan="5"><input type="date" class="form-control" name="AliciFirmaTarihSaat[]" id="AliciFirmaTarihSaat1" /></td>

                                </tr>
                                @*  Nakliye hesaplama *@
                                <tr>
                                    <td colspan="1" style="width:50px; margin-right:10px;background:#589cf3" class="vertical-text text-center">
                                        <h5 style="color:#fff !important;"> Nakliye Bedeli</h5>
                                    </td>
                                    <td>Tutar(KDV Hariç)</td>
                                    <td>
                                        <input type="number" class="form-control" name="NakliyeBedelTutar_KDVsiz[]" id="NakliyeBedelTutar_KDVsiz1" />
                                    </td>

                                    <td>Kdv</td>
                                    <td>
                                        <input type="number" class="form-control" name="NakliyeBedelTutar_KDV[]" id="NakliyeBedelTutar_KDV1" />
                                    </td>
                                    <td>Toplam</td>
                                    <td><input type="text" class="form-control" name="NakliyeBedeliToplam_KDVli[]" id="NakliyeBedeliToplam_KDVli1" /></td>

                                </tr>
                            </table>

                        </div>
                    </div>
                </div>

            </div>
            <center class="mt-4">

                <a class="btn btn-info col-3" onclick="kaydetEkle()">Kaydet Ve Ekle</a>

                <input type="submit" class="btn btn-success col-3" value="Taşımayı Kaydet" />
            </center>



        </form>
    </div>


</div>
@section Scripts {

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#uyariModal').modal('show');
        });

        function IlDegistir(IlKodu) {

            $.ajax({
                url: '../Ajax/IlceListe', // Verileri sağlayan API'nin endpoint'i
                method: 'GET',
                data: { IlKodu: IlKodu },
                dataType: 'json',
                success: function (data) {
                    $('#MalYuklemeAdres_ILCE_ID').empty();
                    $('#MalYuklemeAdres_ILCE_ID').append($('<option>', {
                        value: 0, // Verinin değer özelliği
                        text: "Seçiniz" // Verinin görünen metni
                    }));
                    // Verileri selectbox'a ekle
                    $.each(data, function (index, item) {
                        console.log(item);
                        $('#MalYuklemeAdres_ILCE_ID').append($('<option>', {
                            value: item.ilcE_KODU, // Verinin değer özelliği
                            text: item.ilce // Verinin görünen metni
                        }));
                    });
                },
                error: function (error) {
                    console.log('Hata oluştu:', error);
                }
            });
        }
        function IndirilenIlDegistir(IlKodu) {

            $.ajax({
                url: '../Ajax/IlceListe', // Verileri sağlayan API'nin endpoint'i
                method: 'GET',
                data: { IlKodu: IlKodu },
                dataType: 'json',
                success: function (data) {
                    $('#IndirilenAdres_ILCE_ID').empty();
                    $('#IndirilenAdres_ILCE_ID').append($('<option>', {
                        value: 0, // Verinin değer özelliği
                        text: "Seçiniz" // Verinin görünen metni
                    }));
                    // Verileri selectbox'a ekle
                    $.each(data, function (index, item) {
                        console.log(item);
                        $('#IndirilenAdres_ILCE_ID').append($('<option>', {
                            value: item.ilcE_KODU, // Verinin değer özelliği
                            text: item.ilce // Verinin görünen metni
                        }));
                    });
                },
                error: function (error) {
                    console.log('Hata oluştu:', error);
                }
            });
        }

        function kaydetEkle() {
            items++;
            // Create a new accordion item
            var accordionItem = document.createElement('div');
            accordionItem.className = 'accordion-item';

            // Create the accordion header
            var header = document.createElement('h2');
            header.className = 'accordion-header';
            header.id = 'heading' + items;

            // Create the button for collapsing/expanding
            var button = document.createElement('button');
            button.className = 'accordion-button collapsed';
            button.type = 'button';
            button.setAttribute('data-bs-toggle', 'collapse');
            button.setAttribute('data-bs-target', '#collapse' + items);
            button.setAttribute('aria-expanded', 'false');
            button.setAttribute('aria-controls', 'collapse' + items);
            button.innerText = items + '.KAYIT';

            // Append button to the header
            header.appendChild(button);

            // Create the accordion body
            var body = document.createElement('div');
            body.className = 'accordion-collapse collapse';
            body.id = 'collapse' + items;
            body.setAttribute('aria-labelledby', 'heading' + items);
            body.setAttribute('data-bs-parent', '#accordionExample');

            // Create the content of the accordion body
            var bodyContent = document.createElement('div');
            bodyContent.className = 'accordion-body pt-0';
            bodyContent.innerHTML = '<table class="table table-borderless"> <tr><td rowspan = "2" colspan = "1" style = "width:50px; margin-right:10px;background:#06326b" class="vertical-text text-center" ><h5 style="color:#fff !important;" > Ürün </h5></td><td style = "width: 17%;">Un Kodu Seç</td><td style = "width: 17%;" ><select name="Un_ID[]" class=" form-control" id = "Un_ID' + items + '" ><option value="0" > Seçiniz </option>@foreach (var Un in ViewBag.UnListesi){<option value="@Un.Un_ID" > @Un.Un_No - @Un.Un_Isim</option>}</select></td > <td>Ürün Seç </td><td><select name="TasinacakUrun_ID[]" class=" form-control" id = "TasinacakUrun_ID' + items + '"  onchange="GozlereDagit(' + items + ')"><option value="0" > Seçiniz </option > @foreach (var item in ViewBag.TasinacakUrun){<option value="@item.ID" > @item.Adi</option>}</select></td > <td>Yükleme Miktarı </td><td> <input type="number" class="form-control" name = "YuklemeMiktari[]" id="YuklemeMiktari' + items + '" onchange="GozlereDagit(' + items + ')"/ > </td></tr > <tr style = "border-bottom: 1px solid #ddd; margin-bottom:2%;" > <td>Birim veya Sefer Fiyatı </td><td colspan = "5" > <input type="number" class="form-control" name = "Birim_SeferFiyat[]" id="Birim_SeferFiyat' + items + '"/ > </td></tr > <!--Garanti--> <tr><td rowspan="2" colspan = "1" style = "width:50px; margin-right:10px;background:#0a4ea5" class="vertical-text text-center" > <h5 style="color:#fff !important;" > Gönderici Firma </h5 > </td > <td>Mal Sahibi </td > <td><select name="GondericiCari_ID[]" class="form-control" id = "GondericiCari_ID' + items + '" > <option value="0" > Seçiniz </option > @foreach (var item in ViewBag.GondericiListesi){<option value="@item.Cari_ID" > @item.Cari_Unvan</option>} </select > </td > <td>Mal Yükleme İl </td > <td><select class="form-control" name = "MalYuklemeAdres_IL_ID[]" id = "MalYuklemeAdres_IL_ID' + items + '" onchange = "IlDegistir(this.value)" > <option value="0" > Seçiniz </option > @foreach (var item in ViewBag.Iller){<option value="@item.IL_KODU" > @item.Il</option>}</select > </td > <td>Mal Yükleme İlçe </td > <td><select class="form-control" name = "MalYuklemeAdres_ILCE_ID[]" id = "MalYuklemeAdres_ILCE_ID' + items + '" > <option value="0" > Seçiniz </option > </select > </td > </tr > <tr style="border-bottom: 1px solid #ddd; margin-bottom:2%;" > <td>Mal Yükleme Tarih Saat </td > <td colspan="5" > <input type="date" class="form-control" name = "GondericiFirmaTarihSaat[]" id = "GondericiFirmaTarihSaat' + items + '" / > </td></tr > <!--Araç Belgeleri--> <tr><td rowspan="2" colspan = "1" style = "width:50px; margin-right:10px;background:#0e65d5" class="vertical-text text-center" > <h5 style="color:#fff !important;" > Alıcı Firma </h5></td > <td>Alıcı Firma </td><td><select name="AliciCari_ID[]" class="form-control" id="AliciCari_ID' + items + '"><option value="0">Seçiniz</option > @foreach (var item in ViewBag.AliciListesi){<option value="@item.Cari_ID" > @item.Cari_Unvan</option>}</select > </td > <td>İndirilen İl </td > <td><select class="form-control" name = "IndirilenAdres_IL_ID[]" id = "IndirilenAdres_IL_ID' + items + '" onchange = "IndirilenIlDegistir(this.value)" > <option value="0" > Seçiniz </option > @foreach (var item in ViewBag.Iller){<option value="@item.IL_KODU">@item.Il</option >}</select></td > <td>İndirilen İlçe </td><td><select class="form-control" name="IndirilenAdres_ILCE_ID[]" id="IndirilenAdres_ILCE_ID' + items + '"><option value="0">Seçiniz</option > </select></td > </tr><tr style="border-bottom: 1px solid #ddd; margin-bottom:2%;"><td>Alıcı Tarih Saat</td > <td colspan="5" > <input type="date" class="form-control" name = "AliciFirmaTarihSaat[]" id = "AliciFirmaTarihSaat' + items + '" /> </td></tr > @* Nakliye hesaplama *@<tr><td colspan="1" style = "width:50px; margin-right:10px;background:#589cf3" class="vertical-text text-center" > <h5 style="color:#fff !important;" > Nakliye Bedeli </h5></td > <td>Tutar(KDV Hariç) </td><td><input type="number" class="form-control" name="NakliyeBedelTutar_KDVsiz[]" id="NakliyeBedelTutar_KDVsiz' + items + '"/ > </td><td>Kdv</td > <td><input type="number" class="form-control" name = "NakliyeBedelTutar_KDV[]" id = "NakliyeBedelTutar_KDV' + items + '" /> </td><td>Toplam</td > <td><input type="text" class="form-control" name = "NakliyeBedeliToplam_KDVli[]" id = "NakliyeBedeliToplam_KDVli' + items + '" /> </td></tr > </table>';


            // Append content to the accordion body
            body.appendChild(bodyContent);

            // Append header and body to the accordion item
            accordionItem.appendChild(header);
            accordionItem.appendChild(body);

            // Append the new accordion item to the accordion container
            var accordionContainer = document.getElementById('accordionExample');
            accordionContainer.appendChild(accordionItem);
        }

        function GozlereDagit(sira) {
            debugger;
            var GozID = 6;

            for (var i = 1; i <= items; i++) {

                var TasinacakUrun_ID = document.getElementById("TasinacakUrun_ID" + i).value;
                var YuklemeMiktari = document.getElementById("YuklemeMiktari" + i).value;
               
                for (var j = 1; j <= 6; j++) {
                    if (document.getElementById("AracGoz" + j + "UrunID").value == "" || document.getElementById("AracGoz" + j + "UrunID").value == TasinacakUrun_ID) {
                        document.getElementById("AracGoz" + j + "UrunID").value = TasinacakUrun_ID;
                        if (YuklemeMiktari == "")
                            YuklemeMiktari = 0;
                        if (j != i) {
                            document.getElementById("AracGoz" + j).value = parseFloat(document.getElementById("AracGoz" + j).value) + parseFloat(YuklemeMiktari);
                        }
                        else {

                            document.getElementById("AracGoz" + j).value = YuklemeMiktari;
                        }
                        break;
                    }
                }
            }




        }
    </script>
}
