@using BusinessLayer.Concrate
@using EntityLayer.Concrate
@model EntityLayer.Concrate.AkaryakitTasima

@{
    ViewData["Title"] = "Taşıma Ekle";
}
<script>
    var items = 0;
    var satirVeUrunSayisi = [];

    var GozSayisi = 1;
    var GozKapasite = [];
    
    var gozAracID = 0;


    function GozSayisiBul(AracID) {
        $.ajax({
            url: '../../Ajax/GozSayisiBul', // Verileri sağlayan API'nin endpoint'i
            method: 'GET',
            data: { AracID: AracID },
            dataType: 'json',
            success: function (data) {
                var prop = data;
                if (prop.goz1 != "" && prop.goz1 != 0 && prop.goz2 == "" && prop.goz2 == 0)
                    GozSayisi = 1;
                else if (prop.goz3 == "" && prop.goz3 == 0)
                    GozSayisi = 2;
                else if (prop.goz4 == "" && prop.goz4 == 0)
                    GozSayisi = 3;
                else if (prop.goz5 == "" && prop.goz5 == 0)
                    GozSayisi = 4;
                else if (prop.goz6 == "" && prop.goz6 == 0)
                    GozSayisi = 5;
                else
                    GozSayisi = 6;

                GozKapasite.push({ goz: 1, kapasite: prop.goz1 });
                GozKapasite.push({ goz: 2, kapasite: prop.goz2 });
                GozKapasite.push({ goz: 3, kapasite: prop.goz3 });
                GozKapasite.push({ goz: 4, kapasite: prop.goz4 });
                GozKapasite.push({ goz: 5, kapasite: prop.goz5 });
                GozKapasite.push({ goz: 6, kapasite: prop.goz6 });
                console.log("GozSayisiBul");
                console.log(GozKapasite);

            },
            error: function (error) {
                console.log('Hata oluştu:', error);
            }
        });

    }


</script>

<div class="col-lg-10 col-xxl-11">
    @if (TempData["Msg"] != null)
    {
        <div class="d-flex">
            <div class="toast show align-items-center text-white dark__text-gray-1100 border-0 m-3" role="alert" data-bs-autohide="false" aria-live="assertive" aria-atomic="true" style="background:@TempData["Bgcolor"]">
                <div class="d-flex">
                    <div>
                        @TempData["Msg"]
                    </div>

                </div>
            </div>
        </div>

    }

    <div class="border table-responsive scrollbar p-2">
        <form method="post" action="TasimaDuzenle" onsubmit="return validateForm()">
            @{
                var akaryakitTasima = Model;

            }
            <input type="hidden" asp-for="ID" />
            <input type="hidden" name="KayitSayisi" id="KayitSayisi" value="1" />
            <table class="table table-borderless">
                <tr>
                    <td rowspan="6" colspan="1" style="width:50px; margin-right:10px;background:#02224b" class="vertical-text text-center" style="background:#a9a4a4;">
                        <h5 style="color:#fff !important;">Araç</h5>
                    </td>
                    <td>Araç Tür</td>
                    <td>
                        <select class="form-control" name="AracTurID" id="Arac_TurID">
                            <option value="0">Seçiniz</option>
                            @foreach (var aracTur in ViewBag.AkaryakitAracTur)
                            {
                                if (akaryakitTasima.AracTurID == aracTur.TurID)
                                {
                                    <option value="@aracTur.TurID" selected>@Helper.AkaryakitAracTur(aracTur.TurID)</option>
                                }
                                else{

                                    <option value="@aracTur.TurID">@Helper.AkaryakitAracTur(aracTur.TurID)</option>
                                }

                            }
                        </select>


                    </td>
                    <td>Araç</td>
                    <td>
                        <select class="form-control" name="AracID" id="Arac_ID" onchange="TurKontrol(this.value)">
                            <option value="0">Seçiniz</option>

                            @foreach (var arac in ViewBag.Araclar)
                            {
                                if (akaryakitTasima.AracID == arac.AracID)
                                {
                                        <option value="@arac.AracID|@arac.TurID" selected>@arac.AracPlakasi - @arac.AracTurAdi</option>
                                }
                                else
                                {
                                    <option value="@arac.AracID|@arac.TurID">@arac.AracPlakasi - @arac.AracTurAdi</option>
                                }

                            }
                        </select>
                    </td>
                    <td id="tdDorse" style="">Dorse Plakası</td>
                    <td id="tdDorseSec" style="">
                        <select asp-for="DorsePlakaID" class=" form-control" id="DorsePlakaID">
                            <option value="0">Seçiniz</option>
                        </select>
                    </td>

                  
                </tr>
                <tr>
                    <td>Sürücü 1 Ekle</td>
                    <td>
                        <select class="form-control" asp-for="Kullanici1ID" id="Kullanici1ID">
                            <option value="0">Seçiniz</option>
                            @foreach (var surucu in ViewBag.Suruculer)
                            {
                                if (akaryakitTasima.Kullanici1ID == surucu.Kullanici_ID)
                                {
                                    <option value="@surucu.Kullanici_ID" selected>@surucu.Kullanici_Isim-@surucu.Kullanici_Soyisim</option>
                                }
                                else
                                {
                                    <option value="@surucu.Kullanici_ID">@surucu.Kullanici_Isim-@surucu.Kullanici_Soyisim</option>
                                }

                            }
                        </select>
                    </td>
                    <td>Sürücü 2 Ekle</td>
                    <td>
                        <select class="form-control" asp-for="Kullanici2ID" id="Kullanici2ID">
                            <option value="0">Seçiniz</option>
                            @foreach (var surucu in ViewBag.Suruculer)
                            {
                                if (akaryakitTasima.Kullanici2ID == surucu.Kullanici_ID)
                                {
                                    <option value="@surucu.Kullanici_ID" selected>@surucu.Kullanici_Isim-@surucu.Kullanici_Soyisim</option>
                                }
                                else
                                {
                                    <option value="@surucu.Kullanici_ID">@surucu.Kullanici_Isim-@surucu.Kullanici_Soyisim</option>
                                }

                            }
                        </select>
                    </td>
                    <td>Sürücü 3 Ekle</td>
                    <td>
                        <select class="form-control" asp-for="Kullanici3ID" id="Kullanici3ID">
                            <option value="0">Seçiniz</option>
                            @foreach (var surucu in ViewBag.Suruculer)
                            {
                                if (akaryakitTasima.Kullanici3ID == surucu.Kullanici_ID)
                                {
                                    <option value="@surucu.Kullanici_ID" selected>@surucu.Kullanici_Isim-@surucu.Kullanici_Soyisim</option>
                                }
                                else
                                {
                                    <option value="@surucu.Kullanici_ID">@surucu.Kullanici_Isim-@surucu.Kullanici_Soyisim</option>
                                }

                            }
                        </select>
                    </td>

                </tr>

                <tr>
                    <td>
                        Göz 1 
                    </td>
                    <td>
                        <input type="number" class="form-control bg-light" asp-for="Goz1Kapasite" value="@Model.Goz1Kapasite" readonly />
                        <input type="hidden" class="form-control bg-light" name="Goz1UrunID" value="@akaryakitTasima.Goz1UrunID" id="AracGoz1UrunID" />
                        <input type="text" class="form-control bg-light" name="AracGoz1UrunName" id="AracGoz1UrunName" readonly value="@Helper.UrunAdi(akaryakitTasima.Goz1UrunID)" />
                    </td>

                    <td>Göz 2</td>
                    <td>
                        <input type="number" class="form-control bg-light" asp-for="Goz2Kapasite" value="@akaryakitTasima.Goz2Kapasite" readonly />
                        <input type="hidden" class="form-control bg-light" name="Goz2UrunID" value="@akaryakitTasima.Goz2UrunID" id="AracGoz2UrunID" />
                        <input type="text" class="form-control bg-light" name="AracGoz2UrunName" id="AracGoz2UrunName" readonly value="@Helper.UrunAdi(akaryakitTasima.Goz2UrunID)" />
                    </td>
                    <td>Göz 3</td>
                    <td>
                        <input type="number" class="form-control bg-light" asp-for="Goz3Kapasite" value="@akaryakitTasima.Goz3Kapasite" readonly />
                        <input type="hidden" class="form-control bg-light" name="Goz3UrunID" value="@akaryakitTasima.Goz3UrunID" id="AracGoz3UrunID" />
                        <input type="text" class="form-control bg-light" name="AracGoz3UrunName" id="AracGoz3UrunName" readonly value="@Helper.UrunAdi(akaryakitTasima.Goz3UrunID)" />
                    </td>
                </tr>
                <tr>
                    <td>Göz 4</td>
                    <td>
                        <input type="number" class="form-control bg-light" asp-for="Goz4Kapasite" value="@akaryakitTasima.Goz4Kapasite" readonly />
                        <input type="hidden" class="form-control bg-light" name="Goz4UrunID" value="@akaryakitTasima.Goz4UrunID" id="AracGoz4UrunID" />
                        <input type="text" class="form-control bg-light" name="AracGoz4UrunName" id="AracGoz4UrunName" readonly value="@Helper.UrunAdi(akaryakitTasima.Goz4UrunID)" />
                    </td>
                    <td>Göz 5</td>
                    <td>
                        <input type="number" class="form-control bg-light" asp-for="Goz5Kapasite" value="@akaryakitTasima.Goz5Kapasite" readonly />
                        <input type="hidden" class="form-control bg-light" name="Goz5UrunID" value="@akaryakitTasima.Goz5UrunID" id="AracGoz5UrunID" />
                        <input type="text" class="form-control bg-light" name="AracGoz5UrunName" id="AracGoz5UrunName" readonly value="@Helper.UrunAdi(akaryakitTasima.Goz5UrunID)" />
                    </td>
                    <td>Göz 6</td>
                    <td>
                        <input type="number" class="form-control bg-light" asp-for="Goz6Kapasite" value="@akaryakitTasima.Goz6Kapasite" readonly />
                        <input type="hidden" class="form-control bg-light" name="Goz6UrunID" value="@akaryakitTasima.Goz6UrunID" id="AracGoz6UrunID" />
                        <input type="text" class="form-control bg-light" name="AracGoz6UrunName" id="AracGoz6UrunName" readonly value="@Helper.UrunAdi(akaryakitTasima.Goz6UrunID)" />
                    </td>
                </tr>
                <tr>

                    <td>Toplam Yüklenen Miktar</td>
                    <td colspan="5"><input type="text" class="form-control bg-light w-100" asp-for="ToplamYuklenenMiktar" value="@akaryakitTasima.ToplamYuklenenMiktar" id="ToplamYuklenenMiktar" readonly /></td>


                </tr>
            </table>



            <div class="accordion" id="accordionExample">
                @{
                    var sayac = 0;
                    List<AkaryakitTasimaDetay> tasimaDetay = Helper.AkaryakitTasimaDetayList(akaryakitTasima.ID);
                    
                    foreach (var detay in tasimaDetay)
                    {
                        sayac++;

                                                <script>
                                                    items++;

                                                    document.getElementById("KayitSayisi").value = items;
                                                    satirVeUrunSayisi.push({ satir: items, urun: 0 });</script>

                                                <input type="hidden" name="detayID@(sayac)[]" value="@detay.ID" />
                                                <div class="accordion-item border-top">
                                                    <h2 class="accordion-header" id="heading@(sayac)">
                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse@(sayac)" aria-expanded="false" aria-controls="collapse@(sayac)">
                                                            @sayac .KAYIT
                                                        </button>
                                                    </h2>
                                                    <div class="accordion-collapse collapse" id="collapse@(sayac)" aria-labelledby="heading@(sayac)" data-bs-parent="#accordionExample" style="">
                                                        <div class="accordion-body pt-0">
                                                            <table class="table table-borderless" id="kayit@(sayac)">

                                                                <!-- Gönderici -->
                                                                <tr>
                                                                    <td rowspan="2" colspan="1" style="width:50px; margin-right:10px;background:#0a4ea5" class="vertical-text text-center">
                                                                        <h5 style="color:#fff !important;"> Gönderici Firma</h5>
                                                                    </td>
                                                                    <td>Mal Sahibi</td>
                                                                    <td>
                                                                        <select name="GondericiCari_ID@(sayac)[]" class=" form-control" id="GondericiCari_ID@(sayac)">
                                                                            <option value="0">Seçiniz</option>
                                                                            @foreach (var item in ViewBag.GondericiListesi)
                                                    {
                                                        if (detay.GondericiID == item.Cari_ID)
                                                        {
                                                                                    <option value="@item.Cari_ID" selected>@item.Cari_Unvan</option>
                                                        }
                                                        else
                                                        {
                                                                                    <option value="@item.Cari_ID">@item.Cari_Unvan</option>
                                                        }
                                                    }

                                                                        </select>
                                                                    </td>
                                                                    <td>Mal Yükleme İl</td>
                                                                    <td>
                                                                        <select class="form-control" name="MalYuklemeAdres_IL_ID@(sayac)[]" id="MalYuklemeAdres_IL_ID@(sayac)" onchange="IlDegistir(this.value,@(sayac))">
                                                                            <option value="0">Seçiniz</option>

                                                                            @foreach (var item in ViewBag.Iller)
                                                    {

                                                        if (detay.GondericiYuklemeIlID.ToString() == item.IL_KODU)
                                                        {
                                                                                    <option value="@item.IL_KODU" selected>@item.Il</option>
                                                        }
                                                        else
                                                        {
                                                                                    <option value="@item.IL_KODU">@item.Il</option>
                                                        }
                                                    }

                                                                        </select>
                                                                    </td>
                                                                    <td>Mal Yükleme İlçe</td>
                                                                    <td>
                                                                        <select class="form-control" name="MalYuklemeAdres_ILCE_ID@(sayac)[]" id="MalYuklemeAdres_ILCE_ID@(sayac)">
                                                                            <option value="0">Seçiniz</option>



                                                                        </select>
                                                                    </td>
                                                                </tr>
                                                                <tr style="border-bottom: 1px solid #ddd; margin-bottom:2%;">

                                                                    <td>Mal Yükleme Tarih Saat</td>
                                                                    <td colspan="5">
                                                                        <input type="date" class="form-control" name="GondericiFirmaTarihSaat@(sayac)[]" id="GondericiFirmaTarihSaat@(sayac)" value="@detay.GondericiYuklemeTarihSaat.ToString("yyyy-MM-dd")" />
                                                                       

                                                                    </td>

                                                                </tr>

                                                                <!-- Alıcı -->
                                                                <tr>
                                                                    <td rowspan="2" colspan="1" style="width:50px; margin-right:10px;background:#0e65d5" class="vertical-text text-center">
                                                                        <h5 style="color:#fff !important;"> Alıcı Firma</h5>
                                                                    </td>
                                                                    <td>Alıcı Firma</td>
                                                                    <td>
                                                                        <select name="AliciCari_ID@(sayac)[]" class=" form-control" id="AliciCari_ID@(sayac)">
                                                                            <option value="0">Seçiniz</option>


                                                                            @foreach (var item in ViewBag.AliciListesi)
                                                    {

                                                        if (detay.AliciID == item.Cari_ID)
                                                        {
                                                                                    <option value="@item.Cari_ID" selected>@item.Cari_Unvan</option>
                                                        }
                                                        else
                                                        {
                                                                                    <option value="@item.Cari_ID">@item.Cari_Unvan</option>
                                                        }
                                                    }

                                                                        </select>
                                                                    </td>
                                                                    <td>İndirilen İl</td>
                                                                    <td>
                                                                        <select class="form-control" name="IndirilenAdres_IL_ID@(sayac)[]" id="IndirilenAdres_IL_ID@(sayac)" onchange="IndirilenIlDegistir(this.value,@(sayac))">
                                                                            <option value="0">Seçiniz</option>

                                                                            @foreach (var item in ViewBag.Iller)
                                                    {

                                                        if (detay.AliciIndirilenIlID.ToString() == item.IL_KODU)
                                                        {

                                                                                    <option value="@item.IL_KODU" selected>@item.Il</option>
                                                        }
                                                        else
                                                        {

                                                                                    <option value="@item.IL_KODU">@item.Il</option>
                                                        }
                                                    }
                                                                        </select>
                                                                    </td>
                                                                    <td>İndirilen İlçe</td>
                                                                    <td>
                                                                        <select class="form-control" name="IndirilenAdres_ILCE_ID@(sayac)[]" id="IndirilenAdres_ILCE_ID@(sayac)">
                                                                            <option value="0">Seçiniz</option>


                                                                        </select>
                                                                    </td>

                                                                </tr>
                                                                <tr style="border-bottom: 1px solid #ddd; margin-bottom:2%;">

                                                                    <td>Alıcı Tarih Saat</td>
                                                                    <td colspan="5"><input type="date" class="form-control" name="AliciFirmaTarihSaat@(sayac)[]" id="AliciFirmaTarihSaat@(sayac)" value="@detay.AliciIndirilenTarihSaat.ToString("yyyy-MM-dd")" /></td>

                                                                </tr>

                                                                @{
                                            List<AkaryakitTasimaDetayUrun> tasimaDetayUrun = Helper.AkaryakitTasimaDetayUrunList(akaryakitTasima.ID, detay.ID);
                                            var sayacUrun = 1;
                                            foreach (var urun in tasimaDetayUrun)
                                            {
                                                                                                <!-- Ürün -->
                                                                                                <tr id="templateRow@(sayac)_@(sayacUrun)">

                                                                                                    <td rowspan="2" colspan="1" style="width:50px; margin-right:10px;background:#06326b" class="vertical-text text-center">

                                                                                                        <input type="hidden" name="detayUrunID@(sayac)[]" value="@urun.ID" />
                                                                                                        <h5 style="color:#fff !important;"> Ürün</h5>
                                                                                                    </td>
                                                                                                    <td style="width: 17%;">
                                                                                                        Un Kodu Seç
                                                                                                    </td>
                                                                                                    <td style="width: 17%;">
                                                                                                        <select name="Un_ID@(sayac)[]" class=" form-control" id="Un_ID@(sayac)_@(sayacUrun)">
                                                                                                            <option value="0">Seçiniz</option>

                                                                                                            @foreach (var Un in ViewBag.UnListesi)
                                                            {
                                                                if (urun.UnID == Un.Un_ID)
                                                                {
                                                                                                                    <option value="@Un.Un_ID" selected>@Un.Un_No - @Un.Un_Isim</option>
                                                                }
                                                                else
                                                                {

                                                                                                                    <option value="@Un.Un_ID">
                                                                                                                        @Un.Un_No - @Un.Un_Isim
                                                                                                                    </option>
                                                                }
                                                            }
                                                                                                        </select>
                                                                                                    </td>
                                                                                                    <td>Ürün Seç</td>
                                                                                                    <td>
                                                                                                        <select name="TasinacakUrun_ID@(sayac)[]" class=" form-control" id="TasinacakUrun_ID@(sayac)_@(sayacUrun)" onchange="GozlereDagit(@(sayac))">
                                                                                                            <option value="0">Seçiniz</option>

                                                                                                            @foreach (var item in ViewBag.TasinacakUrun)
                                                            {
                                                                if (urun.UrunID == item.ID)
                                                                {
                                                                                                                    <option value="@item.ID" selected>@item.Adi</option>

                                                                }
                                                                else
                                                                {
                                                                                                                    <option value="@item.ID">@item.Adi</option>
                                                                }
                                                            }

                                                                                                        </select>
                                                                                                    </td>

                                                                                                    <td>Yükleme Miktarı</td>
                                                                                                    <td><input type="number" class="form-control" name="YuklemeMiktari@(sayac)[]" onchange="GozlereDagit(@(sayac))" id="YuklemeMiktari@(sayac)_@(sayacUrun)" value="@urun.YuklemeMiktari" /></td>
                                                                                                </tr>
                                                                                                <tr style="border-bottom: 1px solid #ddd; margin-bottom:2%;" id="templateRow@(sayac)_2">
                                                                                                    <td>Ödeme Yapan Cari</td>
                                                                                                    <td>
                                                                                                        <select name="Cari_Odeme_Yapan@(sayac)[]" class=" form-control" id="Cari_Odeme_Yapan_@(sayac)_@(sayacUrun)" onchange="OdemeYapan(this)">
                                                                                                            <option value="0">Seçiniz</option>

                                                                                                            @foreach (var item in ViewBag.CariOdemeYapan)
                                                            {

                                                                                                                <option value="@item.OdemeYapan_ID" selected="@(urun.OdemeYapanCariGrup == item.OdemeYapan_ID)">@item.OdemeYapan_Adi</option>
                                                            }

                                                                                                            <!-- seçilene göre ödeme yapan carinin idsi alınıcak -->
                                                                                                        </select>
                                                                                                        <input type="hidden" name="Cari_Odeme_YapanID@(sayac)[]" class=" form-control" id="Cari_Odeme_Yapan_ID_@(sayac)_@(sayacUrun)" value="@urun.OdemeYapanCariID">
                                                                                                    </td>
                                                                                                    <td>Ücretlendirme</td>
                                                                                                    <td>
                                                                                                        <select name="Ucretlendirme_ID@(sayac)[]" class=" form-control" id="Ucretlendirme_ID@(sayac)_@(sayacUrun)" onchange="fiyatHesapla(@(sayac))">
                                                                                                            <option value="0">Seçiniz</option>
                                                                                                            @foreach (var item in ViewBag.Ucretlendirme)
                                                            {
                                                                                                                <option value="@item.Ucretlendirme_ID" selected="@(urun.Ucretlendirme == item.Ucretlendirme_ID)">@item.Ucretlendirme_Adi</option>
                                                            }


                                                                                                        </select>
                                                                                                    </td>
                                                                                                    <td>Birim veya Sefer Fiyatı</td>
                                                                                                    <td><input type="number" class="form-control" name="Birim_SeferFiyat@(sayac)[]" id="Birim_SeferFiyat@(sayac)_@(sayacUrun)" onchange="fiyatHesapla(@(sayac))" value="@urun.BirimSeferFiyati" /></td>

                                                                                                </tr>
                                                sayacUrun++;
                                                                                                <script>
                                                                                                    var bulunanElemanIndex = satirVeUrunSayisi.findIndex(function (eleman) {
                                                                                                        return eleman.satir === items;
                                                                                                    });

                                                                                                    var urunsayisi = satirVeUrunSayisi[bulunanElemanIndex].urun;

                                                                                                    // Urun değerini artır
                                                                                                    urunsayisi += 1;

                                                                                                    // Urun değerini güncelle
                                                                                                    satirVeUrunSayisi[bulunanElemanIndex].urun = urunsayisi;
                                                                                                </script>
                                            }
                                                                }

                                                                <tr id="urunEkleTR1">
                                                                    <td colspan="6"><a class="btn btn-info col-3" onclick="urunEkle(@(sayac))">Ürün Ekle</a></td>
                                                                </tr>
                                                            </table>

                                                            <table class="table table-borderless">
                                                                <!-- Nakliye hesaplama -->
                                                                <tr>
                                                                    <td colspan="1" rowspan="2" style="width:50px; margin-right:10px;background:#589cf3" class="vertical-text text-center">
                                                                        <h5 style="color:#fff !important;"> Nakliye Bedeli</h5>
                                                                    </td>
                                                                    <td>Tutar(KDV Hariç)</td>
                                                                    <td>
                                                                        <input type="number" class="form-control" name="NakliyeBedelTutar_KDVsiz@(sayac)[]" id="NakliyeBedelTutar_KDVsiz@(sayac)" value="@detay.NakliyeTutarKDVHaric" />
                                                                    </td>

                                                                    <td>Kdv</td>
                                                                    <td>
                                                                        <input type="number" class="form-control" name="NakliyeBedelTutar_KDV@(sayac)[]" id="NakliyeBedelTutar_KDV@(sayac)" value="@detay.NakliyeKDV" />
                                                                    </td>
                                                                    <td>Toplam</td>
                                                                    <td><input type="text" class="form-control" name="NakliyeBedeliToplam_KDVli@(sayac)[]" id="NakliyeBedeliToplam_KDVli@(sayac)" value="@detay.NakliyeToplam" /></td>

                                                                </tr>
                                                                <tr>
                                                                    <td>Fiyat</td>
                                                                    <td colspan="5"><input type="text" class="form-control" name="Fiyat@(sayac)[]" id="Fiyat@(sayac)" value="@detay.NakliyeFiyat" readonly /></td>
                                                                </tr>
                                                            </table>

                                                        </div>
                                                    </div>
                                                </div>
                    }
                }


            </div>
            <center class="mt-4">

                <a class="btn btn-info col-3" onclick="kaydetEkle()">Kaydet Ve Ekle</a>

                <input type="submit" class="btn btn-success col-3" value="Taşımayı Kaydet" />
            </center>
            <script>
                console.log("bbb");
            </script>


        </form>
    </div>


</div>

@section Scripts {

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
    
        function TurKontrol(selected) {
            debugger;
            var parca = selected.split("|");
            var aracID = parca[0];
            var turID = parca[1];
            if (turID == 1) {
                 document.getElementById("tdDorse").style.display = "";
                document.getElementById("tdDorseSec").style.display = "";
                $.ajax({
                    url: '../../Ajax/DorseListe', // Verileri sağlayan API'nin endpoint'i
                    method: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        $('#DorsePlakaID').empty();
                        $('#DorsePlakaID').append($('<option>', {
                            value: 0, // Verinin değer özelliği
                            text: "Seçiniz" // Verinin görünen metni
                        }));
                        // Verileri selectbox'a ekle
                        $.each(data, function (index, item) {
                            console.log(item);
                            $('#DorsePlakaID').append($('<option>', {
                                value: item.id, // Verinin değer özelliği
                                text: item.plaka // Verinin görünen metni
                            }));
                        });

                        var DorsePlakaID = @Model.DorsePlakaID;

                        if (DorsePlakaID !== null) {
                            document.getElementById("DorsePlakaID").value = DorsePlakaID;
                            console.log("turkontrol-dorse");
                            GozSayisiBul(DorsePlakaID);
                            console.log(GozKapasite);
                        }
                    },
                    error: function (error) {
                        console.log('Hata oluştu:', error);
                    }
                });
            }
            else {

                document.getElementById("tdDorse").style.display = "none";
                document.getElementById("tdDorseSec").style.display = "none";
                console.log("turkontrol-cekici");
                GozSayisiBul(aracID);
            }
        }

        $(document).ready(function () {
            $('#uyariModal').modal('show');
            debugger;

       
            var Arac_ID = document.getElementById("Arac_ID").value;
            TurKontrol(Arac_ID);
            
        });

        function IlDegistir(IlKodu, sira) {

            $.ajax({
                url: '../../Ajax/IlceListe', // Verileri sağlayan API'nin endpoint'i
                method: 'GET',
                data: { IlKodu: IlKodu },
                dataType: 'json',
                success: function (data) {
                    $('#MalYuklemeAdres_ILCE_ID' + sira).empty();
                    $('#MalYuklemeAdres_ILCE_ID' + sira).append($('<option>', {
                        value: 0, // Verinin değer özelliği
                        text: "Seçiniz" // Verinin görünen metni
                    }));
                    // Verileri selectbox'a ekle
                    $.each(data, function (index, item) {
                        console.log(item);
                        $('#MalYuklemeAdres_ILCE_ID' + sira).append($('<option>', {
                            value: item.ilcE_KODU, // Verinin değer özelliği
                            text: item.ilce // Verinin görünen metni
                        }));
                    });
                },
                error: function (error) {
                    console.log('Hata oluştu:', error);
                }
            });
        }

        function IndirilenIlDegistir(IlKodu, sira) {

            $.ajax({
                url: '../../Ajax/IlceListe', // Verileri sağlayan API'nin endpoint'i
                method: 'GET',
                data: { IlKodu: IlKodu },
                dataType: 'json',
                success: function (data) {
                    $('#IndirilenAdres_ILCE_ID' + sira).empty();
                    $('#IndirilenAdres_ILCE_ID' + sira).append($('<option>', {
                        value: 0, // Verinin değer özelliği
                        text: "Seçiniz" // Verinin görünen metni
                    }));
                    // Verileri selectbox'a ekle
                    $.each(data, function (index, item) {
                        console.log(item);
                        $('#IndirilenAdres_ILCE_ID' + sira).append($('<option>', {
                            value: item.ilcE_KODU, // Verinin değer özelliği
                            text: item.ilce // Verinin görünen metni
                        }));
                    });
                },
                error: function (error) {
                    console.log('Hata oluştu:', error);
                }
            });
        }

        function kaydetEkle() {
            items++;

            document.getElementById("KayitSayisi").value = items;
            satirVeUrunSayisi.push({ satir: items, urun: 1 });
            // Create a new accordion item
            var accordionItem = document.createElement('div');
            accordionItem.className = 'accordion-item';

            // Create the accordion header
            var header = document.createElement('h2');
            header.className = 'accordion-header';
            header.id = 'heading' + items;

            // Create the button for collapsing/expanding
            var button = document.createElement('button');
            button.className = 'accordion-button collapsed';
            button.type = 'button';
            button.setAttribute('data-bs-toggle', 'collapse');
            button.setAttribute('data-bs-target', '#collapse' + items);
            button.setAttribute('aria-expanded', 'false');
            button.setAttribute('aria-controls', 'collapse' + items);
            button.innerText = items + '.KAYIT';

            // Append button to the header
            header.appendChild(button);

            // Create the accordion body
            var body = document.createElement('div');
            body.className = 'accordion-collapse collapse';
            body.id = 'collapse' + items;
            body.setAttribute('aria-labelledby', 'heading' + items);
            body.setAttribute('data-bs-parent', '#accordionExample');

            // Create the content of the accordion body
            var bodyContent = document.createElement('div');
            bodyContent.className = 'accordion-body pt-0';

            bodyContent.innerHTML = '<table class="table table-borderless" id="kayit' + items + '"> <!--Garanti--> <tr><td rowspan="2" colspan = "1" style = "width:50px; margin-right:10px;background:#0a4ea5" class="vertical-text text-center" > <h5 style="color:#fff !important;" > Gönderici Firma </h5 > </td > <td>Mal Sahibi </td > <td><select name="GondericiCari_ID' + items + '[]" class="form-control" id = "GondericiCari_ID' + items + '" > <option value="0" > Seçiniz </option >' + '@foreach (var item in ViewBag.GondericiListesi){<option value="@item.Cari_ID" > @item.Cari_Unvan</option>}' + '</select > </td > <td>Mal Yükleme İl </td > <td><select class="form-control" name = "MalYuklemeAdres_IL_ID' + items + '[]" id = "MalYuklemeAdres_IL_ID' + items + '" onchange = "IlDegistir(this.value,' + items + ')" > <option value="0" > Seçiniz </option >' + '@foreach (var item in ViewBag.Iller){<option value="@item.IL_KODU" > @item.Il</option>}' + ' </select > </td > <td>Mal Yükleme İlçe </td > <td><select class="form-control" name = "MalYuklemeAdres_ILCE_ID' + items + '[]" id = "MalYuklemeAdres_ILCE_ID' + items + '" > <option value="0" > Seçiniz </option > </select > </td > </tr > <tr style="border-bottom: 1px solid #ddd; margin-bottom:2%;" > <td>Mal Yükleme Tarih Saat </td > <td colspan="5" > <input type="date" class="form-control" name = "GondericiFirmaTarihSaat' + items + '[]" id = "GondericiFirmaTarihSaat' + items + '" / > </td></tr > <tr><td rowspan="2" colspan = "1" style = "width:50px; margin-right:10px;background:#0e65d5" class="vertical-text text-center" > <h5 style="color:#fff !important;" > Alıcı Firma </h5></td > <td>Alıcı Firma </td><td><select name="AliciCari_ID' + items + '[]" class="form-control" id="AliciCari_ID' + items + '"><option value="0">Seçiniz</option > ' + '@foreach (var item in ViewBag.AliciListesi){<option value="@item.Cari_ID" > @item.Cari_Unvan</option>}' + ' </select > </td > <td>İndirilen İl </td > <td><select class="form-control" name = "IndirilenAdres_IL_ID' + items + '[]" id = "IndirilenAdres_IL_ID' + items + '" onchange = "IndirilenIlDegistir(this.value,' + items + ')" > <option value="0" > Seçiniz </option > ' + '@foreach (var item in ViewBag.Iller){<option value="@item.IL_KODU" > @item.Il</option >}' + ' </select></td > <td>İndirilen İlçe </td><td><select class="form-control" name="IndirilenAdres_ILCE_ID' + items + '[]" id="IndirilenAdres_ILCE_ID' + items + '"><option value="0">Seçiniz</option > </select></td > </tr><tr style="border-bottom: 1px solid #ddd; margin-bottom:2%;"><td>Alıcı Tarih Saat</td > <td colspan="5" > <input type="date" class="form-control" name = "AliciFirmaTarihSaat' + items + '[]" id = "AliciFirmaTarihSaat' + items + '" /> </td></tr > <tr id = "templateRow' + items + '_1" > <td rowspan="2" colspan = "1" style = "width:50px; margin-right:10px;background:#06326b" class="vertical-text text-center" > <h5 style="color:#fff !important;" > Ürün </h5></td > <td style = "width: 17%;" > Un Kodu Seç </td><td style = "width: 17%;" ><select name="Un_ID' + items + '[]" class=" form-control" id = "Un_ID' + items + '_1" ><option value="0" > Seçiniz </option > ' + '@foreach (var Un in ViewBag.UnListesi){<option value="@Un.Un_ID" > @Un.Un_No - @Un.Un_Isim</option>}' + ' </select></td > <td>Ürün Seç </td><td><select name="TasinacakUrun_ID' + items + '[]" class=" form-control" id = "TasinacakUrun_ID' + items + '_1" onchange = "GozlereDagit(' + items + ')" ><option value="0" > Seçiniz </option > ' + '@foreach (var item in ViewBag.TasinacakUrun){<option value="@item.ID" > @item.Adi</option>}' + ' </select></td > <td>Yükleme Miktarı </td><td> <input type="number" class="form-control" name = "YuklemeMiktari' + items + '[]" onchange = "GozlereDagit(' + items + ');fiyatHesapla(' + items + ');" id = "YuklemeMiktari' + items + '_1" / > </td></tr > <tr style = "border-bottom: 1px solid #ddd; margin-bottom:2%;" id = "templateRow' + items + '_2" > <td>Ödeme Yapan Cari </td><td><select name="Cari_Odeme_Yapan' + items + '[]" class=" form-control" id = "Cari_Odeme_Yapan_' + items + '_1" onchange="OdemeYapan(this)" ><option value="0" > Seçiniz </option >@foreach (var item in ViewBag.CariOdemeYapan){<option value="@item.OdemeYapan_ID" > @item.OdemeYapan_Adi</option>}</select><input type="hidden" name="Cari_Odeme_YapanID' + items + '[]" class="form-control" id="Cari_Odeme_Yapan_ID_' + items + '_1"></td > <td>Ücretlendirme </td><td><select name="Ucretlendirme_ID' + items + '[]" class=" form-control" id="Ucretlendirme_ID' + items + '_1" onchange="fiyatHesapla(' + items + ')"><option value="0"> Seçiniz </option > @foreach (var item in ViewBag.Ucretlendirme){<option value="@item.Ucretlendirme_ID" > @item.Ucretlendirme_Adi</option>}</select></td > <td>Birim veya Sefer Fiyatı </td><td> <input type="number" class="form-control" name = "Birim_SeferFiyat' + items + '[]" id = "Birim_SeferFiyat' + items + '_1" onchange="fiyatHesapla(' + items + ')" / > </td></tr > <tr id = "urunEkleTR' + items + '" > <td colspan="6" > <a class="btn btn-info col-3" onclick = "urunEkle(' + items + ')" > Ürün Ekle </a></td > </tr></table > <table class="table table-bordless" > <tr><td colspan="1" style = "width:50px; margin-right:10px;background:#589cf3" class="vertical-text text-center" > <h5 style="color:#fff !important;" > Nakliye Bedeli </h5></td > <td>Tutar(KDV Hariç) </td><td><input type="number" class="form-control" name="NakliyeBedelTutar_KDVsiz' + items + '[]" id="NakliyeBedelTutar_KDVsiz' + items + '"/ > </td><td>Kdv</td > <td><input type="number" class="form-control" name = "NakliyeBedelTutar_KDV' + items + '[]" id = "NakliyeBedelTutar_KDV' + items + '" /> </td><td>Toplam</td > <td><input type="text" class="form-control" name = "NakliyeBedeliToplam_KDVli' + items + '[]" id = "NakliyeBedeliToplam_KDVli' + items + '" /> </td></tr > <tr><td>Fiyat </td><td colspan="5"><input type="text" class="form-control" name="Fiyat' + items + '[]" id="Fiyat' + items + '" readonly></td > </tr> </table > ';



            // Append content to the accordion body
            body.appendChild(bodyContent);

            // Append header and body to the accordion item
            accordionItem.appendChild(header);
            accordionItem.appendChild(body);

            // Append the new accordion item to the accordion container
            var accordionContainer = document.getElementById('accordionExample');
            accordionContainer.appendChild(accordionItem);
        }

        function GozlereDagit(sira) {
            debugger;
            var toplamYuklenenMiktar = 0;
            document.getElementById("Goz1Kapasite").value = 0;
            document.getElementById("Goz2Kapasite").value = 0;
            document.getElementById("Goz3Kapasite").value = 0;
            document.getElementById("Goz4Kapasite").value = 0;
            document.getElementById("Goz5Kapasite").value = 0;
            document.getElementById("Goz6Kapasite").value = 0;
            var gozKontrol = 0;
            for (var i = 1; i <= items; i++) {
                var eleman = satirVeUrunSayisi.find(function (eleman) {
                    return eleman.satir === i;
                });
                var urunsayisi = eleman.urun;
                for (var k = 1; k <= urunsayisi; k++) {
                    var TasinacakUrun_ID = document.getElementById("TasinacakUrun_ID" + i + "_" + k).value;
                    var YuklemeMiktari = document.getElementById("YuklemeMiktari" + i + "_" + k).value;
                    var selectElement = document.getElementById("TasinacakUrun_ID" + i + "_" + k);
                    var selectedOption = selectElement.options[selectElement.selectedIndex];
                    var selectedText = selectedOption.text;

                    if (YuklemeMiktari == "")
                        YuklemeMiktari = 0;
                    else {

                        console.log("dagit");
                        console.log(GozKapasite);
                        debugger;
                        for (var j = 1; j <= GozSayisi; j++) {
                            if (document.getElementById("AracGoz" + j + "UrunID").value == "" ||document.getElementById("AracGoz" + j + "UrunID").value == 0 || document.getElementById("AracGoz" + j + "UrunID").value == TasinacakUrun_ID) {

                                var tutar = parseFloat(document.getElementById("Goz" + j + "Kapasite").value) + parseFloat(YuklemeMiktari);
                                var elemanGoz = GozKapasite.find(function (elemanGoz) {
                                    return elemanGoz.goz === j;
                                });
                                console.log(elemanGoz);
                                var kapasite = elemanGoz.kapasite;
                                if (tutar < kapasite) {


                                    document.getElementById("Goz" + j + "Kapasite").value = tutar;

                                    document.getElementById("AracGoz" + j + "UrunID").value = TasinacakUrun_ID;

                                    document.getElementById("AracGoz" + j + "UrunName").value = selectedText;
                                    gozKontrol = 1;
                                    toplamYuklenenMiktar = parseFloat(toplamYuklenenMiktar) + parseFloat(YuklemeMiktari);
                                    break;

                                }

                            }
                        }
                        if (gozKontrol == 0) {
                            alert(selectedText + " Ürünü gözlere dağıtılamadı")
                        }
                    }
                }
                document.getElementById("ToplamYuklenenMiktar").value = toplamYuklenenMiktar;

            }




        }

        function urunEkle(sira) {
            debugger;
            var bulunanElemanIndex = satirVeUrunSayisi.findIndex(function (eleman) {
                return eleman.satir === sira;
            });

            var urunsayisi = satirVeUrunSayisi[bulunanElemanIndex].urun;

            // Urun değerini artır
            urunsayisi += 1;

            // Urun değerini güncelle
            satirVeUrunSayisi[bulunanElemanIndex].urun = urunsayisi;


            var table = document.getElementById("kayit" + sira);

            // Clone the template rows
            var clonedRow1 = document.getElementById("templateRow" + sira + "_1").cloneNode(true);
            var clonedRow2 = document.getElementById("templateRow" + sira + "_2").cloneNode(true);

            // Update the IDs of the cloned rows
            updateIds(clonedRow1, urunsayisi);
            updateIds(clonedRow2, urunsayisi);
            // Add a class to cloned rows for styling
            clonedRow1.classList.add("cloned-row");
            clonedRow2.classList.add("cloned-row");

            // Find the "Ürün Ekle" button's parent row
            var buttonRow = document.querySelector('#kayit' + sira + ' tr:last-child');

            // Insert the cloned rows before the button row
            buttonRow.parentNode.insertBefore(clonedRow1, buttonRow);
            buttonRow.parentNode.insertBefore(clonedRow2, buttonRow);
        }

        function updateIds(row, index) {
            // Update the ID of the cloned rows
            var newRowId = index;
            row.id = "row" + newRowId;

            // Update the IDs of all input fields within the cloned rows
            var inputs = row.querySelectorAll('input, select');
            inputs.forEach(function (input) {
                var oldId = input.id;
                if (oldId) {
                    input.id = oldId.replace(/\d+$/, newRowId);
                }


                var oldName = input.name;
                if (oldName) {
                    input.name = oldName.replace(/\d+$/, newRowId);
                }
                // Check if it's an input element
                if (input.tagName.toLowerCase() === 'input') {
                    input.value = ''; // Clear the input value
                }

                // Check if it's a select element
                if (input.tagName.toLowerCase() === 'select') {
                    input.value = '0'; // Assuming the default value is '0', change it accordingly
                }
            });
        }

        function fiyatHesapla(sira) {
            debugger;
            var fiyat = 0;
            console.log(satirVeUrunSayisi);
            var eleman = satirVeUrunSayisi.find(function (eleman) {
                return eleman.satir === sira;
            });
            var urunsayisi = eleman.urun;
            for (var k = 1; k <= urunsayisi; k++) {
                var Birim_SeferFiyat = document.getElementById("Birim_SeferFiyat" + sira + "_" + k).value;
                var Ucretlendirme_ID = document.getElementById("Ucretlendirme_ID" + sira + "_" + k).value;
                var YuklemeMiktari = document.getElementById("YuklemeMiktari" + sira + "_" + k).value;
                if (Ucretlendirme_ID == 2) {
                    fiyat += Birim_SeferFiyat * YuklemeMiktari;
                }
                else {
                    fiyat += Birim_SeferFiyat * 1;
                }
            }

            document.getElementById("Fiyat" + sira).value = fiyat;
        }

    

        function OdemeYapan(input) {
            debugger;
            var selectID = input.id;
            var deger = input.value;
            var parts = selectID.split('_');
            var sira = parts[parts.length - 2];
            var urun = parts[parts.length - 1];
            if (deger == 2)
                document.getElementById("Cari_Odeme_Yapan_ID_" + sira + "_" + urun).value = document.getElementById("GondericiCari_ID" + sira).value;
            else if (deger == 1)
                document.getElementById("Cari_Odeme_Yapan_ID_" + sira + "_" + urun).value = document.getElementById("AliciCari_ID" + sira).value;
            else
                alert("Lütfen Ödeme Yapacak Cariyi Seçiniz");

        }

        function validateForm() {
            debugger;
            var Arac_ID = document.getElementById("Arac_ID").value;
            var parca = Arac_ID.split("|");
            var aracID = parca[0];
            var turID = parca[1];
            if (turID == 1) {
                var selectElement = document.getElementById("DorsePlakaID");
                if (selectElement.value == "0") {
                    alert("Lütfen dorse değer seçin.");
                    return false;
                }
            }
            return true;
        }
    </script>
}


