@using BusinessLayer.Concrate
@model EntityLayer.Concrate.Bakim

@{
    ViewData["Title"] = "Bakım Ekle";
}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    //stok listele
    function StokListe(sira, ID = 0) {
        $.ajax({
            url: '../../Ajax/StokListe', // Verileri sağlayan API'nin endpoint'i
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                $('#StokID' + sira).empty();
                $('#StokID' + sira).append($('<option>', {
                    value: 0, // Verinin değer özelliği
                    text: "Seçiniz" // Verinin görünen metni
                }));
                // Verileri selectbox'a ekle
                $.each(data, function (index, item) {
                    console.log(item);
                    $('#StokID' + sira).append($('<option>', {
                        value: item.id, // Verinin değer özelliği
                        text: item.stokAdi // Verinin görünen metni
                    }));
                });

                document.getElementById('StokID' + sira).value = ID;
            },
            error: function (error) {
                console.log('Hata oluştu:', error);
            }
        });
    }

    //tedarikçi listele
    function TedarikciListe(sira, ID = 0) {
        $.ajax({
            url: '../../Ajax/TedarikciListe', // Verileri sağlayan API'nin endpoint'i
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                $('#TedarikciID' + sira).empty();
                $('#TedarikciID' + sira).append($('<option>', {
                    value: 0, // Verinin değer özelliği
                    text: "Seçiniz" // Verinin görünen metni
                }));
                // Verileri selectbox'a ekle
                $.each(data, function (index, item) {
                    console.log(item);
                    $('#TedarikciID' + sira).append($('<option>', {
                        value: item.kullanici_ID, // Verinin değer özelliği
                        text: item.kullanici_Isim + ' ' + item.kullanici_Soyisim // Verinin görünen metni
                    }));
                });
                document.getElementById('TedarikciID' + sira).value = ID;
            },
            error: function (error) {
                console.log('Hata oluştu:', error);
            }
        });
    }

    //gider tip listele
    function GiderTipListe(sira, ID = 0) {
        $.ajax({
            url: '../../Ajax/GiderTipListe', // Verileri sağlayan API'nin endpoint'i
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                $('#GiderTipID' + sira).empty();
                $('#GiderTipID' + sira).append($('<option>', {
                    value: 0, // Verinin değer özelliği
                    text: "Seçiniz" // Verinin görünen metni
                }));
                // Verileri selectbox'a ekle
                $.each(data, function (index, item) {
                    console.log(item);
                    $('#GiderTipID' + sira).append($('<option>', {
                        value: item.id, // Verinin değer özelliği
                        text: item.adi // Verinin görünen metni
                    }));
                });
                document.getElementById('GiderTipID' + sira).value = ID;
            },
            error: function (error) {
                console.log('Hata oluştu:', error);
            }
        });
    }


    //gider tip listele
    function GiderAltTipListe(GiderTipID, sira, ID = 0) {
        $.ajax({
            url: '../../Ajax/GiderAltTipListe', // Verileri sağlayan API'nin endpoint'i
            method: 'GET',
            dataType: 'json',
            data: { GiderTipID: GiderTipID },
            success: function (data) {
                $('#GiderAltTipID' + sira).empty();
                $('#GiderAltTipID' + sira).append($('<option>', {
                    value: 0, // Verinin değer özelliği
                    text: "Seçiniz" // Verinin görünen metni
                }));
                // Verileri selectbox'a ekle
                $.each(data, function (index, item) {
                    console.log(item);
                    $('#GiderAltTipID' + sira).append($('<option>', {
                        value: item.id, // Verinin değer özelliği
                        text: item.adi // Verinin görünen metni
                    }));
                });

                document.getElementById('GiderAltTipID' + sira).value = ID;
            },
            error: function (error) {
                console.log('Hata oluştu:', error);
            }
        });
    }

    function StokSec(StokID, sira) {
        $.ajax({
            url: '../../Ajax/StokSec', // Verileri sağlayan API'nin endpoint'i
            method: 'GET',
            dataType: 'json',
            data: { StokID: StokID },
            success: function (item) {

                console.log(item);
                $('#Miktar' + sira).val(item.adet);
                $('#BirimFiyat' + sira).val(item.birimFiyat);
            },
            error: function (error) {
                console.log('Hata oluştu:', error);
            }
        });
    }
    var itemstok = 0;
    var itemhizmet = 0;
</script>

<div class="col-lg-30 col-xxl-12">

    @if (TempData["Msg"] != null)
    {
        <div class="d-flex">
            <div class="toast show align-items-center text-white dark__text-gray-1100 border-0 m-3" role="alert" data-bs-autohide="false" aria-live="assertive" aria-atomic="true" style="background:@TempData["Bgcolor"]">
                <div class="d-flex">
                    <div>
                        @TempData["Msg"]
                    </div>

                </div>
            </div>
        </div>

    }

    <div class="border table-responsive scrollbar p-2">
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="ID" />
            <table class="table table-borderless">
                <tr>
                    <td>
                        <span style="color:red;">*</span>Araç
                    </td>
                    <td class="d-flex">    <a asp-controller="Arac" asp-action="Index" target="_blank" class="me-2">
                            <span class="text-body fs-5" data-feather="plus"></span>
                        </a>
                        <a onclick="AracListe()" class="me-2" style="cursor:pointer;">
                            <span class="text-body fs-5" data-feather="refresh-ccw"></span>
                        </a>
                        <select class="form-control" asp-for="CekiciID" id="CekiciID" required>

                            <option value="" disable selected>Seçiniz</option>
                        </select>
                    </td>
                    <td>Araç Km</td>
                    <td><input type="number" class="form-control" asp-for="AracKm" step="0.01" /></td>
                </tr>

                <tr>

                    <td>Tarih Saat</td>
                    <td><input type="datetime-local" class="form-control" asp-for="TarihSaat" /></td>
                    <td>Servis Bakım Durum</td>
                    <td class="d-flex">
                        <a asp-controller="ServisBakimDurum" asp-action="Index" target="_blank" class="me-2">
                            <span class="text-body fs-5" data-feather="plus"></span>
                        </a>
                        <a onclick="ServisBakimDurumListe()" class="me-2" style="cursor:pointer;">
                            <span class="text-body fs-5" data-feather="refresh-ccw"></span>
                        </a>
                        <select class="form-control" asp-for="ServisBakimDurumID" id="ServisBakimDurumID" required>
                            <option value="" disable selected>Seçiniz</option>
                        </select>
                    </td>

                </tr>

                <tr>
                    <td>
                        <span style="color:red;">*</span>Servis Bakım Türü
                    </td>
                    <td class="d-flex">
                        <a asp-controller="ServisBakimTuru" asp-action="Index" target="_blank" class="me-2">
                            <span class="text-body fs-5" data-feather="plus"></span>
                        </a>
                        <a onclick="ServisBakimTuruListe()" class="me-2" style="cursor:pointer;">
                            <span class="text-body fs-5" data-feather="refresh-ccw"></span>
                        </a>
                        <select class="form-control" asp-for="ServisBakimTurID" id="ServisBakimTurID" required>
                            <option value="" disable selected>Seçiniz</option>
                        </select>
                    </td>

                
                    <td>
                        <span style="color:red;">*</span>Sürücü
                    </td>
                    <td class="d-flex">
                        <a asp-controller="Surucu" asp-action="Index" target="_blank" class="me-2">
                            <span class="text-body fs-5" data-feather="plus"></span>
                        </a>
                        <a onclick="SurucuListe()" class="me-2" style="cursor:pointer;">
                            <span class="text-body fs-5" data-feather="refresh-ccw"></span>
                        </a>
                        <select class="form-control" asp-for="SurucuID" id="SurucuID" required>
                            <option value="" disable selected>Seçiniz</option>
                        </select>

                    </td>
                </tr>

                <tr>
                    <td>
                        <span style="color:red;">*</span>Bakım Yeri
                    </td>
                    <td class="d-flex">
                        <a asp-controller="BakimYeri" asp-action="Index" target="_blank" class="me-2">
                            <span class="text-body fs-5" data-feather="plus"></span>
                        </a>
                        <a onclick="BakimYeriListe()" class="me-2" style="cursor:pointer;">
                            <span class="text-body fs-5" data-feather="refresh-ccw"></span>
                        </a>

                        <select class="form-control" asp-for="BakimYeri" id="BakimYeri" onchange="BakimYeriDegis()" required>
                            <option value="" disable selected>Seçiniz</option>
                        </select>
                    </td>
                    <td>Arıza Nedeni</td>
                    <td>
                        <textarea class="form-control" asp-for="ArizaNedeni"></textarea>
                    </td>
                </tr>

                <tr>
                    <td>Bakım Personeli</td>
                    <td>

                        <select class="form-control" asp-for="PersonelID" id="PersonelID">

                            <option value="0">Seçiniz</option>
                        </select>

                    </td>
                </tr>
                <tr>
                    <td>Yapılması Gereken</td>
                    <td>
                        <textarea class="form-control" asp-for="YapilmasiGereken"></textarea>
                    </td>

                    <td>Açıklama</td>
                    <td>
                        <textarea class="form-control" asp-for="Aciklama"></textarea>
                    </td>
                </tr>

            </table>

            <div id="BakimStokDiv" style=" display:none;">

                <h6>Stok</h6>
                <div class="m-3 col-4">
                    <a onclick="StokEkle()">Satır Ekle</a>

                </div>
                <table class="table" id="stokTable">
                    <thead>

                        <tr>
                            <td>Stok</td>
                            <td>Miktar</td>
                            <td>Adet Fiyat</td>
                            <td>Toplam Fiyat</td>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int sayi = 0;
                            if (ViewBag.BakimStok != null && ViewBag.BakimStok.Count > 0)
                            {
                            foreach (var item in ViewBag.BakimStok)
                            {
                                sayi++;
                                            <tr>
                                                <td>
                                                    <input type="hidden" name="BakimStokID@(sayi)[]" value="@item.ID" />
                                                    <select class="form-control" name="StokID@(sayi)[]" id="StokID@(sayi)" onchange="StokSec(this.value,@(sayi))">
                                                        <option value="0">Seçiniz</option>
                                                    </select>
                                                </td>
                                                <td>
                                            <input type="number" class="form-control" name="Miktar@(sayi)[]" id="Miktar@(sayi)" value="@item.Miktar" onchange="ToplamFiyatHesapla(@sayi)" />
                                                </td>
                                                <td>
                                            <input type="number" class="form-control" name="BirimFiyat@(sayi)[]" id="BirimFiyat@(sayi)" value="@item.BirimFiyat" onchange="ToplamFiyatHesapla(@sayi)" />
                                                </td>
                                                <td>
                                                    <input type="number" class="form-control" name="ToplamFiyat@(sayi)[]" id="ToplamFiyat@(sayi)" value="@item.ToplamFiyat" />
                                                </td>
                                            </tr>
                                            <script>

                                                StokListe(@sayi, @item.StokID);
                                itemstok = @sayi;
                                            </script>
                            }
                        }
                        }


                    </tbody>
                </table>

                <input type="hidden" name="StokSayisi" id="StokSayisi" value="" />
            </div>
            <div id="BakimHizmetDiv" style=" display:none;">

                <h6>Hizmet</h6>
                <div class="m-3 col-4">
                    <a onclick="HizmetEkle()">Satır Ekle</a>

                </div>
                <table class="table" id="hizmetTable">
                    <thead>

                        <tr>
                            <td>Tarih</td>
                            <td>Tedarikçi</td>
                            <td>Hizmet Adı</td>
                            <td>Fatura No</td>
                            <td>Fiyat(KDV Hariç)</td>
                            <td>KDV (Tutar)</td>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int sayiHizmet = 0;
                            if (ViewBag.BakimHizmet != null && ViewBag.BakimHizmet.Count > 0)
                            {
                                foreach (var item in ViewBag.BakimHizmet)
                                {
                                    sayiHizmet++;
                                                <tr>
                                                    <td>
                                                        <input type="hidden" name="BakimHizmetID@(sayiHizmet)[]" value="@item.ID" />
                                                        <input type="date" class="form-control" name="Tarih@(sayiHizmet)[]" id="Tarih@(sayiHizmet)" value="@item.Tarih.ToString("yyyy-MM-dd")" />
                                                    </td>
                                                    <td>
                                                        <select class="form-control" name="TedarikciID@(sayiHizmet)[]" id="TedarikciID@(sayiHizmet)">
                                                            <option value="0">Seçiniz</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" name="HizmetAdi@(sayiHizmet)[]" id="HizmetAdi@(sayiHizmet)" value="@item.HizmetAdi" />
                                                    </td>

                                                    <td>
                                                        <input type="text" class="form-control" name="FaturaNo@(sayiHizmet)[]" id="FaturaNo@(sayiHizmet)" value="@item.FaturaNo" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" name="FiyatKdvHaric@(sayiHizmet)[]" id="FiyatKdvHaric@(sayiHizmet)" value="@item.FiyatKdvHaric" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" name="KdvTutar@(sayiHizmet)[]" id="KdvTutar@(sayiHizmet)" value="@item.KdvTutar" />
                                                    </td>

                                                </tr>
                                                <script>
                                                    TedarikciListe(@sayiHizmet, @item.TedarikciID);

                                                itemhizmet = @sayi;
                                                    </script>
                                }
                            }
                        }

                    </tbody>
                </table>
                <input type="hidden" name="HizmetSayisi" id="HizmetSayisi" value="@sayiHizmet" />
            </div>
            <input type="submit" class="btn btn-success w-100" value="Kaydet" />
        </form>

    </div>

</div>
@section Scripts {


    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>

        $(document).ready(function () {
            $('select').select2();

        });
    </script>
    <script>

        function ToplamFiyatHesapla(sira) {
            var miktar = document.getElementById("Miktar" + sira).value;
            var fiyat = document.getElementById("BirimFiyat" + sira).value;
            document.getElementById("ToplamFiyat" + sira).value = miktar * fiyat;
        }
        function SurucuListe() {
            //sürücü listele
            $.ajax({
                url: '../../Ajax/SurucuListe', // Verileri sağlayan API'nin endpoint'i
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    $('#SurucuID').empty();
                    $('#SurucuID').append($('<option>', {
                        value: "", // Verinin değer özelliği
                        text: "Seçiniz", // Verinin görünen metni
                        disabled: true,
                        selected: true
                    }));
                    // Verileri selectbox'a ekle
                    $.each(data, function (index, item) {
                        console.log(item);
                        $('#SurucuID').append($('<option>', {
                            value: item.kullanici_ID, // Verinin değer özelliği
                            text: item.kullanici_Isim + ' ' + item.kullanici_Soyisim // Verinin görünen metni
                        }));
                    });
                    var SurucuID = @Json.Serialize(Model.SurucuID);

                    if (SurucuID !== null || SurucuID != "") {
                        document.getElementById("SurucuID").value = SurucuID;
                    }
                },
                error: function (error) {
                    console.log('Hata oluştu:', error);
                }
            });
        }
        SurucuListe();

        function ServisBakimDurumListe() {
            //servis bakım durum listele
            $.ajax({
                url: '../../Ajax/ServisBakimDurumListe', // Verileri sağlayan API'nin endpoint'i
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    $('#ServisBakimDurumID').empty();
                    $('#ServisBakimDurumID').append($('<option>', {
                        value: "", // Verinin değer özelliği
                        text: "Seçiniz", // Verinin görünen metni
                        disabled: true,
                        selected: true
                    }));
                    // Verileri selectbox'a ekle
                    $.each(data, function (index, item) {
                        console.log(item);
                        $('#ServisBakimDurumID').append($('<option>', {
                            value: item.id, // Verinin değer özelliği
                            text: item.adi // Verinin görünen metni
                        }));
                    });
                    var ServisBakimDurumID = @Json.Serialize(Model.ServisBakimDurumID);

                    if (ServisBakimDurumID !== null || ServisBakimDurumID != "") {
                        document.getElementById("ServisBakimDurumID").value = ServisBakimDurumID;
                    }
                },
                error: function (error) {
                    console.log('Hata oluştu:', error);
                }
            });
        }
        ServisBakimDurumListe();

        function ServisBakimTuruListe() {
            //servis bakım türü listele
            $.ajax({
                url: '../../Ajax/ServisBakimTuruListe', // Verileri sağlayan API'nin endpoint'i
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    $('#ServisBakimTurID').empty();
                    $('#ServisBakimTurID').append($('<option>', {
                        value: "", // Verinin değer özelliği
                        text: "Seçiniz", // Verinin görünen metni
                        disabled: true,
                        selected: true
                    }));
                    // Verileri selectbox'a ekle
                    $.each(data, function (index, item) {
                        console.log(item);
                        $('#ServisBakimTurID').append($('<option>', {
                            value: item.id, // Verinin değer özelliği
                            text: item.adi // Verinin görünen metni
                        }));
                    });
                    var ServisBakimTurID = @Json.Serialize(Model.ServisBakimTurID);

                    if (ServisBakimTurID !== null || ServisBakimTurID != "") {
                        document.getElementById("ServisBakimTurID").value = ServisBakimTurID;
                    }
                },
                error: function (error) {
                    console.log('Hata oluştu:', error);
                }
            });
        }
        ServisBakimTuruListe();


        function BakimPersonelListe() {
            //BakimPersonel listele
            $.ajax({
                url: '../../Ajax/BakimPersonelListe', // Verileri sağlayan API'nin endpoint'i
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    $('#PersonelID').empty();
                    $('#PersonelID').append($('<option>', {
                        value: 0, // Verinin değer özelliği
                        text: "Seçiniz" // Verinin görünen metni
                    }));
                    // Verileri selectbox'a ekle
                    $.each(data, function (index, item) {
                        console.log(item);
                        $('#PersonelID').append($('<option>', {
                            value: item.kullanici_ID, // Verinin değer özelliği
                            text: item.kullanici_Isim + ' ' + item.kullanici_Soyisim // Verinin görünen metni
                        }));
                    });
                    var PersonelID = @Json.Serialize(Model.PersonelID);

                    if (PersonelID !== null || PersonelID != "") {
                        document.getElementById("PersonelID").value = PersonelID;
                    }
                },
                error: function (error) {
                    console.log('Hata oluştu:', error);
                }
            });
        } BakimPersonelListe();

        function ServisBakimYeriListe() {
            //servis bakım yeri listele
            $.ajax({
                url: '../../Ajax/ServisBakimYeriListe', // Verileri sağlayan API'nin endpoint'i
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    $('#BakimYeri').empty();
                    $('#BakimYeri').append($('<option>', {
                        value: "", // Verinin değer özelliği
                        text: "Seçiniz", // Verinin görünen metni
                        disabled: true,
                        selected: true
                    }));
                    // Verileri selectbox'a ekle
                    $.each(data, function (index, item) {
                        console.log(item);
                        $('#BakimYeri').append($('<option>', {
                            value: item.id, // Verinin değer özelliği
                            text: item.adi // Verinin görünen metni
                        }));
                    });
                    var BakimYeri = @Json.Serialize(Model.BakimYeri);
                    debugger;
                    if (BakimYeri !== null || BakimYeri != "") {
                        document.getElementById("BakimYeri").value = BakimYeri;
                        BakimYeriDegis();
                        if (BakimYeri == 1)

                            document.getElementById("StokSayisi").value = itemstok;
                        else

                            document.getElementById("HizmetSayisi").value = itemhizmet;
                    }
                },
                error: function (error) {
                    console.log('Hata oluştu:', error);
                }
            });
        } ServisBakimYeriListe();

    /*    function DorseListe() {
            //dorse listele
            $.ajax({
                url: '../../Ajax/DorseListe', // Verileri sağlayan API'nin endpoint'i
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    $('#DorseID').empty();
                    $('#DorseID').append($('<option>', {
                        value: "", // Verinin değer özelliği
                        text: "Seçiniz", // Verinin görünen metni
                        disabled: true,
                        selected: true
                    }));
                    // Verileri selectbox'a ekle
                    $.each(data, function (index, item) {
                        console.log(item);
                        $('#DorseID').append($('<option>', {
                            value: item.id, // Verinin değer özelliği
                            text: item.plaka // Verinin görünen metni
                        }));
                    });
                    var DorseID = @Json.Serialize(Model.DorseID);

                    if (DorseID !== null || DorseID != "") {
                        document.getElementById("DorseID").value = DorseID;
                    }
                },
                error: function (error) {
                    console.log('Hata oluştu:', error);
                }
            });
        }
        DorseListe();


        function CekiciListe() {
            //çekici listele
            $.ajax({
                url: '../../Ajax/DorseHaricPlakaListe', // Verileri sağlayan API'nin endpoint'i
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    $('#CekiciID').empty();
                    $('#CekiciID').append($('<option>', {
                        value: "", // Verinin değer özelliği
                        text: "Seçiniz", // Verinin görünen metni
                        disabled: true,
                        selected: true
                    }));
                    // Verileri selectbox'a ekle
                    $.each(data, function (index, item) {
                        console.log(item);
                        $('#CekiciID').append($('<option>', {
                            value: item.arac.id, // Verinin değer özelliği
                            text: item.arac.plaka + " - " + item.aracTur.adi // Verinin görünen metni
                        }));
                    });
                    var CekiciID = @Json.Serialize(Model.CekiciID);

                    if (CekiciID !== null || CekiciID != "") {
                        document.getElementById("CekiciID").value = CekiciID;
                    }
                },
                error: function (error) {
                    console.log('Hata oluştu:', error);
                }
            });
        }
        CekiciListe();*/

        /***************/

        function StokEkle() {
            itemstok++;
            var newRow = document.createElement('tr');

            // Yeni satıra hücreler (td) ekle
            var cell1 = document.createElement('td');
            var cell2 = document.createElement('td');
            var cell3 = document.createElement('td');
            var cell4 = document.createElement('td');

            // Hücrelere içerik ekle
            cell1.innerHTML = '<select class="form-control" name="StokID' + itemstok + '[]" id="StokID' + itemstok + '"  onchange="StokSec(this.value,' + itemstok + ')"><option value = "0" > Seçiniz </option></select>';
            cell2.innerHTML = '<input type="number" class="form-control" name="Miktar' + itemstok + '[]" id="Miktar' + itemstok + '" onchange="ToplamFiyatHesapla(' + items + ')"/>';
            cell3.innerHTML = '<input type="number" class="form-control" name="BirimFiyat' + itemstok + '[]" id="BirimFiyat' + itemstok + '" onchange="ToplamFiyatHesapla(' + items + ')"/>';
            cell4.innerHTML = '<input type="number" class="form-control" name = "ToplamFiyat' + itemstok + '[]" id = "ToplamFiyat' + itemstok + '" />';


            // Satıra hücreleri ekle
            newRow.appendChild(cell1);
            newRow.appendChild(cell2);
            newRow.appendChild(cell3);
            newRow.appendChild(cell4);

            // Tablonun tbody bölümüne yeni satırı ekle
            document.getElementById('stokTable').getElementsByTagName('tbody')[0].appendChild(newRow);
            document.getElementById('StokSayisi').value = itemstok;

            StokListe(itemstok);


        }


        function HizmetEkle() {
            itemhizmet++;
            var newRow = document.createElement('tr');

            // Yeni satıra hücreler (td) ekle
            var cell1 = document.createElement('td');
            var cell2 = document.createElement('td');
            var cell3 = document.createElement('td');
            var cell4 = document.createElement('td');
            var cell5 = document.createElement('td');
            var cell6 = document.createElement('td');

            // Hücrelere içerik ekle
            cell1.innerHTML = '<input type="date" class="form-control" name = "Tarih' + itemhizmet + '[]" id = "Tarih' + itemhizmet + '" />';
            cell2.innerHTML = ' <select class="form-control" name = "TedarikciID' + itemhizmet + '[]" id = "TedarikciID' + itemhizmet + '" ><option value = "0">Tedarikçi Seçiniz</option></select>';
            cell3.innerHTML = '<input type="text" class="form-control" name = "HizmetAdi' + itemhizmet + '[]" id = "HizmetAdi' + itemhizmet + '" />';
            cell4.innerHTML = '<input type="text" class="form-control" name = "FaturaNo' + itemhizmet + '[]" id = "FaturaNo' + itemhizmet + '" />';
            cell5.innerHTML = '<input type="text" class="form-control" name = "FiyatKdvHaric' + itemhizmet + '[]" id = "FiyatKdvHaric' + itemhizmet + '" />';
            cell6.innerHTML = '<input type="text" class="form-control" name = "KdvTutar' + itemhizmet + '[]" id = "KdvTutar' + itemhizmet + '" />';


            // Satıra hücreleri ekle
            newRow.appendChild(cell1);
            newRow.appendChild(cell2);
            newRow.appendChild(cell3);
            newRow.appendChild(cell4);
            newRow.appendChild(cell5);
            newRow.appendChild(cell6);

            // Tablonun tbody bölümüne yeni satırı ekle
            document.getElementById('hizmetTable').getElementsByTagName('tbody')[0].appendChild(newRow);
            document.getElementById('HizmetSayisi').value = itemhizmet;

            TedarikciListe(itemhizmet);
            GiderTipListe(itemhizmet);

        }
    </script>
    <script>
        function AracListe() {
            //dorse listele
            $.ajax({
                url: '../../Ajax/TurAdiPlakaListe', // Verileri sağlayan API'nin endpoint'i
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    $('#CekiciID').empty();
                    $('#CekiciID').append($('<option>', {
                        value: "", // Verinin değer özelliği
                        text: "Seçiniz", // Verinin görünen metni
                        disabled: true,
                        selected: true
                    }));
                    // Verileri selectbox'a ekle
                    $.each(data, function (index, item) {
                        console.log(item);
                        $('#CekiciID').append($('<option>', {
                            value: item.arac.id, // Verinin değer özelliği
                            text: item.arac.plaka + " - " + item.aracTur.adi // Verinin görünen metni
                        }));
                    });
                },
                error: function (error) {
                    console.log('Hata oluştu:', error);
                }
            });
        }
        AracListe();
        function BakimYeriDegis() {
            debugger;
            var BakimYeri = document.getElementById("BakimYeri").value;
            if (BakimYeri == "1") {

                document.getElementById("BakimStokDiv").style.display = "";
                document.getElementById("BakimHizmetDiv").style.display = "none";

                document.getElementById("StokSayisi").value = "1";
                document.getElementById("HizmetSayisi").value = "0";
            }
            else {

                document.getElementById("BakimStokDiv").style.display = "none";
                document.getElementById("BakimHizmetDiv").style.display = "";
                document.getElementById("StokSayisi").value = "0";
                document.getElementById("HizmetSayisi").value = "1";
            }
        }

    </script>
}