@using BusinessLayer.Concrate
@model EntityLayer.Concrate.Bakim

@{
    ViewData["Title"] = "Bakım Ekle";
}

<div class="col-lg-30 col-xxl-12">

    @if (TempData["Msg"] != null)
    {
        <div class="d-flex">
            <div class="toast show align-items-center text-white dark__text-gray-1100 border-0 m-3" role="alert" data-bs-autohide="false" aria-live="assertive" aria-atomic="true" style="background:@TempData["Bgcolor"]">
                <div class="d-flex">
                    <div>
                        @TempData["Msg"]
                    </div>

                </div>
            </div>
        </div>

    }

    <div class="border table-responsive scrollbar p-2">
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="ID" />
            <table class="table table-borderless">
                <tr>
                    <td>Çekici</td>
                    <td>
                        <select class="form-control" asp-for="CekiciID" id="CekiciID">

                            <option value="0">Seçiniz</option>
                        </select>
                    </td>
                    <td>Tarih Saat</td>
                    <td><input type="datetime-local" class="form-control" asp-for="TarihSaat" /></td>
                </tr>

                <tr>
                    <td>Dorse</td>
                    <td>

                        <select class="form-control" asp-for="DorseID" id="DorseID">

                            <option value="0">Seçiniz</option>
                        </select>
                    </td>
                    <td>Servis Bakım Durum</td>
                    <td>
                        <select class="form-control" asp-for="ServisBakimDurumID" id="ServisBakimDurumID">

                            <option value="0">Seçiniz</option>
                        </select>
                    </td>

                </tr>

                <tr>
                    <td>Araç Km</td>
                    <td><input type="number" class="form-control" asp-for="AracKm" step="0.01" /></td>
                    <td>Servis Bakım Türü</td>
                    <td>
                        <select class="form-control" asp-for="ServisBakimTurID" id="ServisBakimTurID">

                            <option value="0">Seçiniz</option>
                        </select>
                    </td>

                </tr>

                <tr>
                    <td>Sürücü</td>
                    <td>
                        <select class="form-control" asp-for="SurucuID" id="SurucuID">

                            <option value="0">Seçiniz</option>
                        </select>

                    </td>
                    <td>Bakım Yeri</td>
                    <td><input type="text" asp-for="BakimYeri" class="form-control" /></td>
                </tr>
                <tr>
                    <td>Arıza Nedeni</td>
                    <td>
                        <textarea class="form-control" asp-for="ArizaNedeni"></textarea>
                    </td>
                    <td>Bakım Personeli</td>
                    <td>

                        <select class="form-control" asp-for="PersonelID" id="PersonelID">

                            <option value="0">Seçiniz</option>
                        </select>

                    </td>
                </tr>
                <tr>
                    <td>Yapılması Gereken</td>
                    <td>
                        <textarea class="form-control" asp-for="YapilmasiGereken"></textarea>
                    </td>

                    <td>Açıklama</td>
                    <td>
                        <textarea class="form-control" asp-for="Aciklama"></textarea>
                    </td>
                </tr>

            </table>
            <input type="submit" class="btn btn-success w-100" value="Kaydet" />
        </form>

    </div>

</div>
@section Scripts {

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>

        //sürücü listele
        $.ajax({
            url: '../../Ajax/SurucuListe', // Verileri sağlayan API'nin endpoint'i
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                $('#SurucuID').empty();
                $('#SurucuID').append($('<option>', {
                    value: 0, // Verinin değer özelliği
                    text: "Seçiniz" // Verinin görünen metni
                }));
                // Verileri selectbox'a ekle
                $.each(data, function (index, item) {
                    console.log(item);
                    $('#SurucuID').append($('<option>', {
                        value: item.kullanici_ID, // Verinin değer özelliği
                        text: item.kullanici_Isim + ' ' + item.kullanici_Soyisim // Verinin görünen metni
                    }));
                });
                var SurucuID = @Json.Serialize(Model.SurucuID);

                if (SurucuID !== null || SurucuID != "") {
                    document.getElementById("SurucuID").value = @Model.SurucuID;
                }
            },
            error: function (error) {
                console.log('Hata oluştu:', error);
            }
        });

        //servis bakım durum listele
        $.ajax({
            url: '../../Ajax/ServisBakimDurumListe', // Verileri sağlayan API'nin endpoint'i
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                $('#ServisBakimDurumID').empty();
                $('#ServisBakimDurumID').append($('<option>', {
                    value: 0, // Verinin değer özelliği
                    text: "Seçiniz" // Verinin görünen metni
                }));
                // Verileri selectbox'a ekle
                $.each(data, function (index, item) {
                    console.log(item);
                    $('#ServisBakimDurumID').append($('<option>', {
                        value: item.id, // Verinin değer özelliği
                        text: item.adi // Verinin görünen metni
                    }));
                });
                var ServisBakimDurumID = @Json.Serialize(Model.ServisBakimDurumID);

                if (ServisBakimDurumID !== null || ServisBakimDurumID != "") {
                    document.getElementById("ServisBakimDurumID").value = @Model.ServisBakimDurumID;
                }
            },
            error: function (error) {
                console.log('Hata oluştu:', error);
            }
        });

        //servis bakım türü listele
        $.ajax({
            url: '../../Ajax/ServisBakimTuruListe', // Verileri sağlayan API'nin endpoint'i
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                $('#ServisBakimTurID').empty();
                $('#ServisBakimTurID').append($('<option>', {
                    value: 0, // Verinin değer özelliği
                    text: "Seçiniz" // Verinin görünen metni
                }));
                // Verileri selectbox'a ekle
                $.each(data, function (index, item) {
                    console.log(item);
                    $('#ServisBakimTurID').append($('<option>', {
                        value: item.id, // Verinin değer özelliği
                        text: item.adi // Verinin görünen metni
                    }));
                });
                var ServisBakimTurID = @Json.Serialize(Model.ServisBakimTurID);

                if (ServisBakimTurID !== null || ServisBakimTurID != "") {
                    document.getElementById("ServisBakimTurID").value = @Model.ServisBakimTurID;
                }
            },
            error: function (error) {
                console.log('Hata oluştu:', error);
            }
        });

        //dorse listele
        $.ajax({
            url: '../../Ajax/DorseListe', // Verileri sağlayan API'nin endpoint'i
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                $('#DorseID').empty();
                $('#DorseID').append($('<option>', {
                    value: 0, // Verinin değer özelliği
                    text: "Seçiniz" // Verinin görünen metni
                }));
                // Verileri selectbox'a ekle
                $.each(data, function (index, item) {
                    console.log(item);
                    $('#DorseID').append($('<option>', {
                        value: item.id, // Verinin değer özelliği
                        text: item.plaka // Verinin görünen metni
                    }));
                });
                var DorseID = @Json.Serialize(Model.DorseID);

                if (DorseID !== null || DorseID != "") {
                    document.getElementById("DorseID").value = @Model.DorseID;
                }
            },
            error: function (error) {
                console.log('Hata oluştu:', error);
            }
        });

        //çekici listele
        $.ajax({
            url: '../../Ajax/CekiciListe', // Verileri sağlayan API'nin endpoint'i
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                $('#CekiciID').empty();
                $('#CekiciID').append($('<option>', {
                    value: 0, // Verinin değer özelliği
                    text: "Seçiniz" // Verinin görünen metni
                }));
                // Verileri selectbox'a ekle
                $.each(data, function (index, item) {
                    console.log(item);
                    $('#CekiciID').append($('<option>', {
                        value: item.id, // Verinin değer özelliği
                        text: item.plaka // Verinin görünen metni
                    }));
                });
                var CekiciID = @Json.Serialize(Model.CekiciID);

                if (CekiciID !== null || CekiciID != "") {
                    document.getElementById("CekiciID").value = @Model.CekiciID;
                }
            },
            error: function (error) {
                console.log('Hata oluştu:', error);
            }
        });
    </script>
}