@using BusinessLayer.Concrate
@using EntityLayer.Concrate;
@model List<TasimaModel>

@{
    ViewData["Title"] = "Eşleştirme";
}
<div class="col-lg-30 col-xxl-12">
    <h2 class="mb-3 lh-sm">Eşleştirme</h2>
    @if (TempData["Msg"] != null)
    {
        <div class="d-flex">
            <div class="toast show align-items-center text-white dark__text-gray-1100 border-0 m-3" role="alert" data-bs-autohide="false" aria-live="assertive" aria-atomic="true" style="background:@TempData["Bgcolor"]">
                <div class="d-flex">
                    <div>
                        @TempData["Msg"]
                    </div>

                </div>
            </div>
        </div>

    }

    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Araç Türü</th>
                <th>Araç Plaka</th>
                <th>Dorse Plaka</th>
                <th>Sürücü</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @{
                        if (ViewBag.ModulID == 3)
                        {
                            <td>@item.Tasima.ID</td>

                        }
                        else if (ViewBag.ModulID == 10)
                        {
                            <td>@item.YurtDisiTasima.ID</td>

                        }
                        else
                        {

                            <td>@item.NormalTasima.ID</td>
                        }
                    }

                    <td>@(item.AracTur.Adi ?? "")</td>
                    <td>@(item.Arac.Plaka ?? "")</td>
                    <td>@(item.Dorse?.Plaka ?? "")</td>
                    <td>@(item.Surucu.Kullanici_Isim ?? "") @(item.Surucu.Kullanici_Soyisim ?? "")</td>


                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>Araç Türü</th>
                <th>Araç Plaka</th>
                <th>Dorse Plaka</th>
                <th>Sürücü</th>

            </tr>
        </tfoot>
    </table>


</div>


