@using BusinessLayer.Concrate
@model EntityLayer.Concrate.IstasyondanYakitVer

@{
    ViewData["Title"] = "İstasyondan Yakıt Ver";
}

<div class="col-lg-30 col-xxl-12">

    <h4 class="mb-3 lh-sm">İstasyondan Yakıt Ver</h4>
    @if (TempData["Msg"] != null)
    {
        <div class="d-flex">
            <div class="toast show align-items-center text-white dark__text-gray-1100 border-0 m-3" role="alert" data-bs-autohide="false" aria-live="assertive" aria-atomic="true" style="background:@TempData["Bgcolor"]">
                <div class="d-flex">
                    <div>
                        @TempData["Msg"]
                    </div>

                </div>
            </div>
        </div>

    }

    <div class="border table-responsive scrollbar p-2">
        <form method="post" enctype="multipart/form-data">
            <table class="table table-borderless">

                <tr>


                    <td>İstasyon</td>
                    <td>
                        <select class="form-control" asp-for="IstasyonID" id="IstasyonID">
                            <option value="0">Seçiniz</option>
                        </select>
                    </td>
                    <td>Fiş No</td>
                    <td><input type="text" class="form-control" asp-for="FaturaNo" /></td>
                </tr>
                <tr>
                    <td>Yakıt Tipi</td>
                    <td>
                        <select class="form-control" asp-for="YakitTipID" id="YakitTipID" onchange="yakitAltTipListe(this.value)">
                            <option value="0">Seçiniz</option>
                        </select>
                    </td>
                    <td>Yakıt Alt Tipi</td>
                    <td>
                        <select class="form-control" asp-for="YakitAltTipID" id="YakitAltTipID">
                            <option value="0">Seçiniz</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Araç</td>
                    <td>
                        <select class="form-control" asp-for="AracID" id="AracID">
                            <option value="0">Seçiniz</option>
                        </select>
                    </td>
                    <td>Dorse</td>
                    <td>
                        <select class="form-control" asp-for="DorseID" id="DorseID">
                            <option value="0">Seçiniz</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Sürücü 1</td>
                    <td>
                        <select class="form-control" asp-for="Surucu1ID" id="Surucu1ID">
                            <option value="0">Seçiniz</option>
                        </select>
                    </td>
                    <td>Sürücü 2</td>
                    <td>
                        <select class="form-control" asp-for="Surucu2ID" id="Surucu2ID">
                            <option value="0">Seçiniz</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Miktar (LT.)</td>
                    <td><input type="text" class="form-control" asp-for="Miktar" /></td>
                    <td>LT Fiyat</td>
                    <td><input type="text" class="form-control" asp-for="LtFiyat" /></td>
                </tr>
                <tr>
                    <td>Araç Km</td>
                    <td><input type="text" class="form-control" asp-for="AracKm" /></td>
                    <td>Muhasebe Kod</td>
                    <td><input type="text" class="form-control" asp-for="MuhasebeKod" /></td>
                </tr>


            </table>
            <input type="submit" class="btn btn-success w-100" value="Kaydet" />
        </form>

    </div>

</div>
@section Scripts {

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>


        //istasyon listele
        $.ajax({
            url: '../../Ajax/IstasyonListe', // Verileri sağlayan API'nin endpoint'i
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                $('#IstasyonID').empty();
                $('#IstasyonID').append($('<option>', {
                    value: 0, // Verinin değer özelliği
                    text: "Seçiniz" // Verinin görünen metni
                }));
                // Verileri selectbox'a ekle
                $.each(data, function (index, item) {
                    console.log(item);
                    $('#IstasyonID').append($('<option>', {
                        value: item.id, // Verinin değer özelliği
                        text: item.adi // Verinin görünen metni
                    }));
                    var IstasyonID = @Json.Serialize(Model.IstasyonID);

                    if (IstasyonID !== null || IstasyonID != "") {
                        document.getElementById("IstasyonID").value = @Model.IstasyonID;
                    }
                });
            },
            error: function (error) {
                console.log('Hata oluştu:', error);
            }
        });
        //yakıt alt tipi listele
        function yakitAltTipListe(ID) {
            $.ajax({
                url: '../../Ajax/YakitAltTipiListe', // Verileri sağlayan API'nin endpoint'i
                method: 'GET',
                dataType: 'json',
                data: { ID: ID },
                success: function (data) {
                    $('#YakitAltTipID').empty();
                    $('#YakitAltTipID').append($('<option>', {
                        value: 0, // Verinin değer özelliği
                        text: "Seçiniz" // Verinin görünen metni
                    }));
                    // Verileri selectbox'a ekle
                    $.each(data, function (index, item) {
                        console.log(item);
                        $('#YakitAltTipID').append($('<option>', {
                            value: item.id, // Verinin değer özelliği
                            text: item.adi // Verinin görünen metni
                        }));
                    });
                    var YakitAltTipID = @Json.Serialize(Model.YakitAltTipID);

                    if (YakitAltTipID !== null || YakitAltTipID != "") {
                        document.getElementById("YakitAltTipID").value = @Model.YakitAltTipID;
                    }
                },
                error: function (error) {
                    console.log('Hata oluştu:', error);
                }
            });
        }
        //yakıt tipi listele
        $.ajax({
            url: '../../Ajax/YakitTipiListe', // Verileri sağlayan API'nin endpoint'i
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                $('#YakitTipID').empty();
                $('#YakitTipID').append($('<option>', {
                    value: 0, // Verinin değer özelliği
                    text: "Seçiniz" // Verinin görünen metni
                }));
                // Verileri selectbox'a ekle
                $.each(data, function (index, item) {
                    console.log(item);
                    $('#YakitTipID').append($('<option>', {
                        value: item.id, // Verinin değer özelliği
                        text: item.adi // Verinin görünen metni
                    }));
                });
                var YakitTipID = @Json.Serialize(Model.YakitTipID);

                if (YakitTipID !== null || YakitTipID != "") {
                    document.getElementById("YakitTipID").value = @Model.YakitTipID;
                    yakitAltTipListe(@Model.YakitTipID);
                }
            },
            error: function (error) {
                console.log('Hata oluştu:', error);
            }
        });


        //dorse
        $.ajax({
            url: '../../Ajax/DorseListe', // Verileri sağlayan API'nin endpoint'i
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                $('#DorseID').empty();
                $('#DorseID').append($('<option>', {
                    value: 0, // Verinin değer özelliği
                    text: "Seçiniz" // Verinin görünen metni
                }));
                // Verileri selectbox'a ekle
                $.each(data, function (index, item) {
                    console.log(item);
                    $('#DorseID').append($('<option>', {
                        value: item.id, // Verinin değer özelliği
                        text: item.plaka // Verinin görünen metni
                    }));
                });
                var DorseID = @Json.Serialize(Model.DorseID);

                if (DorseID !== null || DorseID != "") {
                    document.getElementById("DorseID").value = @Model.DorseID;
                }
            },
            error: function (error) {
                console.log('Hata oluştu:', error);
            }
        });
        //arac
        $.ajax({
            url: '../../Ajax/PlakaListe', // Verileri sağlayan API'nin endpoint'i
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                $('#AracID').empty();
                $('#AracID').append($('<option>', {
                    value: 0, // Verinin değer özelliği
                    text: "Seçiniz" // Verinin görünen metni
                }));
                // Verileri selectbox'a ekle
                $.each(data, function (index, item) {
                    console.log(item);
                    $('#AracID').append($('<option>', {
                        value: item.id, // Verinin değer özelliği
                        text: item.plaka // Verinin görünen metni
                    }));
                });
                var AracID = @Json.Serialize(Model.AracID);

                if (AracID !== null || AracID != "") {
                    document.getElementById("AracID").value = @Model.AracID;
                }
            },
            error: function (error) {
                console.log('Hata oluştu:', error);
            }
        });
        //sürücü listele
        $.ajax({
            url: '../../Ajax/SurucuListe', // Verileri sağlayan API'nin endpoint'i
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                $('#Surucu1ID').empty();
                $('#Surucu1ID').append($('<option>', {
                    value: 0, // Verinin değer özelliği
                    text: "Seçiniz" // Verinin görünen metni
                }));  
                $('#Surucu2ID').empty();
                $('#Surucu2ID').append($('<option>', {
                    value: 0, // Verinin değer özelliği
                    text: "Seçiniz" // Verinin görünen metni
                }));
                // Verileri selectbox'a ekle
                $.each(data, function (index, item) {
                    console.log(item);
                    $('#Surucu1ID').append($('<option>', {
                        value: item.kullanici_ID, // Verinin değer özelliği
                        text: item.kullanici_Isim + ' ' + item.kullanici_Soyisim // Verinin görünen metni
                    })); $('#Surucu2ID').append($('<option>', {
                        value: item.kullanici_ID, // Verinin değer özelliği
                        text: item.kullanici_Isim + ' ' + item.kullanici_Soyisim // Verinin görünen metni
                    }));
                });
                var Surucu1ID = @Json.Serialize(Model.Surucu1ID);

                if (Surucu1ID !== null || Surucu1ID != "") {
                    document.getElementById("Surucu1ID").value = @Model.Surucu1ID;
                }
                var Surucu2ID = @Json.Serialize(Model.Surucu2ID);

                if (Surucu2ID !== null || Surucu2ID != "") {
                    document.getElementById("Surucu2ID").value = @Model.Surucu2ID;
                }
            },
            error: function (error) {
                console.log('Hata oluştu:', error);
            }
        });
    </script>

}