@using BusinessLayer.Concrate
@model EntityLayer.Concrate.TanktanYakitVer

@{
    ViewData["Title"] = "Tanktan Yakıt Ver";
}

<div class="col-lg-30 col-xxl-12">

    <h4 class="mb-3 lh-sm">Tanktan Yakıt Ver</h4>
    @if (TempData["Msg"] != null)
    {
        <div class="d-flex">
            <div class="toast show align-items-center text-white dark__text-gray-1100 border-0 m-3" role="alert" data-bs-autohide="false" aria-live="assertive" aria-atomic="true" style="background:@TempData["Bgcolor"]">
                <div class="d-flex">
                    <div>
                        @TempData["Msg"]
                    </div>

                </div>
            </div>
        </div>

    }

    <div class="border table-responsive scrollbar p-2">
        <form method="post" enctype="multipart/form-data">
            <table class="table table-borderless">

                <tr>


                    <td>
                        <span style="color:red;">*</span>Tank
                    </td>
                    <td class="d-flex">
                        <a asp-controller="Tank" asp-action="Index" target="_blank" class="me-2">
                            <span class="text-body fs-5" data-feather="plus"></span>
                        </a>
                        <a onclick="TankListe()" class="me-2" style="cursor:pointer;">
                            <span class="text-body fs-5" data-feather="refresh-ccw"></span>
                        </a>
                        <select class="form-control" asp-for="TankID" id="TankID" required>
                            <option value="0">Seçiniz</option>
                        </select>
                    </td>
                    <td>Fatura No</td>
                    <td><input type="text" class="form-control" asp-for="FaturaNo" /></td>
                </tr>
                <tr>
                    <td>Yakıt Tipi</td>
                    <td class="d-flex">
                        <a asp-controller="YakitTipi" asp-action="Index" target="_blank" class="me-2">
                            <span class="text-body fs-5" data-feather="plus"></span>
                        </a>
                        <a onclick="YakitTipiListe()" class="me-2" style="cursor:pointer;">
                            <span class="text-body fs-5" data-feather="refresh-ccw"></span>
                        </a>
                        <select class="form-control" asp-for="YakitTipID" id="YakitTipID" onchange="yakitAltTipListe()">
                            <option value="0">Seçiniz</option>
                        </select>
                    </td>
                    <td>Yakıt Alt Tipi</td>
                    <td class="d-flex">
                        <a asp-controller="YakitAltTipi" asp-action="Index" target="_blank" class="me-2">
                            <span class="text-body fs-5" data-feather="plus"></span>
                        </a>
                        <a onclick="yakitAltTipListe()" class="me-2" style="cursor:pointer;">
                            <span class="text-body fs-5" data-feather="refresh-ccw"></span>
                        </a>
                        <select class="form-control" asp-for="YakitAltTipID" id="YakitAltTipID">
                            <option value="0">Seçiniz</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Araç</td>
                    <td class ="d-flex">
                        <a asp-controller="Arac" asp-action="Index" target="_blank" class="me-2">
                            <span class="text-body fs-5" data-feather="plus"></span>
                        </a>
                        <a onclick="AracListe()" class="me-2" style="cursor:pointer;">
                            <span class="text-body fs-5" data-feather="refresh-ccw"></span>
                        </a>
                        <select class="form-control" asp-for="AracID" id="AracID">
                            <option value="0">Seçiniz</option>
                        </select>
                    </td>


                    </tr>
                    <tr>
                    <td>Araç Km</td>
                    <td><input type="text" class="form-control" asp-for="AracKm" /></td>
                </tr>
                <tr>
                    <td>Sürücü 1</td>
                    <td class="d-flex">
                        <a asp-controller="Surucu" asp-action="Index" target="_blank" class="me-2">
                            <span class="text-body fs-5" data-feather="plus"></span>
                        </a>
                        <a onclick="SurucuListe()" class="me-2" style="cursor:pointer;">
                            <span class="text-body fs-5" data-feather="refresh-ccw"></span>
                        </a>
                        <select class="form-control" asp-for="Surucu1ID" id="Surucu1ID">
                            <option value="0">Seçiniz</option>
                        </select>
                    </td>
                    <td>Sürücü 2</td>
                    <td class="d-flex">
                        <a asp-controller="Surucu" asp-action="Index" target="_blank" class="me-2">
                            <span class="text-body fs-5" data-feather="plus"></span>
                        </a>
                        <a onclick="SurucuListe()" class="me-2" style="cursor:pointer;">
                            <span class="text-body fs-5" data-feather="refresh-ccw"></span>
                        </a>
                        <select class="form-control" asp-for="Surucu2ID" id="Surucu2ID">
                            <option value="0">Seçiniz</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Miktar (LT.)</td>
                    <td><input type="text" class="form-control" asp-for="Miktar" /></td>
                    <td>LT Fiyat</td>
                    <td><input type="text" class="form-control" asp-for="LtFiyat" /></td>
                </tr>
                <tr>

                    <td>Açıklama</td>
                    <td colspan="3"><input type="text" class="form-control" asp-for="Aciklama" /></td>
                </tr>

            </table>
            <input type="submit" class="btn btn-success w-100" value="Kaydet" />
        </form>

    </div>

</div>
@section Scripts {

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>

        $(document).ready(function () {
            $('select').select2();
        });
    </script>
    <script>

        function TankListe() {

            //tank listele
            $.ajax({
                url: '../../Ajax/TankListe', // Verileri sağlayan API'nin endpoint'i
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    $('#TankID').empty();
                    $('#TankID').append($('<option>', {
                        value: 0, // Verinin değer özelliği
                        text: "Seçiniz" // Verinin görünen metni
                    }));
                    // Verileri selectbox'a ekle
                    $.each(data, function (index, item) {
                        console.log(item);
                        $('#TankID').append($('<option>', {
                            value: item.id, // Verinin değer özelliği
                            text: item.adi // Verinin görünen metni
                        }));
                    }); var TankID = @Json.Serialize(Model.TankID);

                    if (TankID !== null || TankID != "") {

                        $('#TankID').val(null).trigger('change'); // Seçimi temizle
                        $('#TankID').val(TankID).trigger('change');
                    }
                },
                error: function (error) {
                    console.log('Hata oluştu:', error);
                }
            });
        } 
        
        TankListe();

        function YakitTipiListe() {
            //yakıt tipi listele
            $.ajax({
                url: '../../Ajax/YakitTipiListe', // Verileri sağlayan API'nin endpoint'i
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    $('#YakitTipID').empty();
                    $('#YakitTipID').append($('<option>', {
                        value: 0, // Verinin değer özelliği
                        text: "Seçiniz" // Verinin görünen metni
                    }));
                    // Verileri selectbox'a ekle
                    $.each(data, function (index, item) {
                        console.log(item);
                        $('#YakitTipID').append($('<option>', {
                            value: item.id, // Verinin değer özelliği
                            text: item.adi // Verinin görünen metni
                        }));
                    }); var YakitTipID = @Json.Serialize(Model.YakitTipID);

                    if (YakitTipID !== null || YakitTipID != "") {

                        $('#YakitTipID').val(null).trigger('change'); // Seçimi temizle
                        $('#YakitTipID').val(YakitTipID).trigger('change');
                    }
                },
                error: function (error) {
                    console.log('Hata oluştu:', error);
                }
            });
        }

        YakitTipiListe();


        //yakıt alt tipi listele
        function yakitAltTipListe() {
            var ID = document.getElementById("YakitTipID").value;
            $.ajax({
                url: '../../Ajax/YakitAltTipiListe', // Verileri sağlayan API'nin endpoint'i
                method: 'GET',
                dataType: 'json',
                data: { ID: ID },
                success: function (data) {
                    $('#YakitAltTipID').empty();
                    $('#YakitAltTipID').append($('<option>', {
                        value: 0, // Verinin değer özelliği
                        text: "Seçiniz" // Verinin görünen metni
                    }));
                    // Verileri selectbox'a ekle
                    $.each(data, function (index, item) {
                        console.log(item);
                        $('#YakitAltTipID').append($('<option>', {
                            value: item.id, // Verinin değer özelliği
                            text: item.adi // Verinin görünen metni
                        }));
                    }); var YakitAltTipID = @Json.Serialize(Model.YakitAltTipID);

                    if (YakitAltTipID !== null || YakitAltTipID != "") {

                        $('#YakitAltTipID').val(null).trigger('change'); // Seçimi temizle
                        $('#YakitAltTipID').val(YakitAltTipID).trigger('change');
                    }
                },
                error: function (error) {
                    console.log('Hata oluştu:', error);
                }
            });
        }

        yakitAltTipListe();

        function AracListe() {
            //dorse listele
            $.ajax({
                url: '../../Ajax/TurAdiPlakaListe', // Verileri sağlayan API'nin endpoint'i
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    $('#AracID').empty();
                    $('#AracID').append($('<option>', {
                        value: "", // Verinin değer özelliği
                        text: "Seçiniz", // Verinin görünen metni
                        disabled: true,
                        selected: true
                    }));
                    // Verileri selectbox'a ekle
                    $.each(data, function (index, item) {
                        console.log(item);
                        $('#AracID').append($('<option>', {
                            value: item.arac.id, // Verinin değer özelliği
                            text: item.arac.plaka + " - " + item.aracTur.adi // Verinin görünen metni
                        }));
                    });
                },
                error: function (error) {
                    console.log('Hata oluştu:', error);
                }
            });
        }
        AracListe();


        function SurucuListe() {


            //sürücü listele
            $.ajax({
                url: '../../Ajax/SurucuListe', // Verileri sağlayan API'nin endpoint'i
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    $('#Surucu1ID').empty();
                    $('#Surucu1ID').append($('<option>', {
                        value: 0, // Verinin değer özelliği
                        text: "Seçiniz" // Verinin görünen metni
                    }));
                    $('#Surucu2ID').empty();
                    $('#Surucu2ID').append($('<option>', {
                        value: 0, // Verinin değer özelliği
                        text: "Seçiniz" // Verinin görünen metni
                    }));
                    // Verileri selectbox'a ekle
                    $.each(data, function (index, item) {
                        console.log(item);
                        $('#Surucu1ID').append($('<option>', {
                            value: item.kullanici_ID, // Verinin değer özelliği
                            text: item.kullanici_Isim + ' ' + item.kullanici_Soyisim // Verinin görünen metni
                        })); 
                        $('#Surucu2ID').append($('<option>', {
                            value: item.kullanici_ID, // Verinin değer özelliği
                            text: item.kullanici_Isim + ' ' + item.kullanici_Soyisim // Verinin görünen metni
                        }));
                    }); var Surucu1ID = @Json.Serialize(Model.Surucu1ID);

                    if (Surucu1ID !== null || Surucu1ID != "") {

                        $('#Surucu1ID').val(null).trigger('change'); // Seçimi temizle
                        $('#Surucu1ID').val(Surucu1ID).trigger('change');
                    } var Surucu2ID = @Json.Serialize(Model.Surucu2ID);

                    if (Surucu2ID !== null || Surucu2ID != "") {

                        $('#Surucu2ID').val(null).trigger('change'); // Seçimi temizle
                        $('#Surucu2ID').val(Surucu2ID).trigger('change');
                    }
                },
                error: function (error) {
                    console.log('Hata oluştu:', error);
                }
            });
        }

        SurucuListe();
    </script>

}